@include theme() {
    &about {
        @include containerFluid;
        @include containerSpacing1;

        &__container {
            @include container;
        }

        &__info {
            @include flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 80px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }

        &__photo {
            width: 100%;
            max-width: 460px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: none;
                @include flex2(20px);
            }
        }

        &__infoText {
            max-width: 600px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: none;
                @include flex2(20px);
            }
        }

        &__infoTitle {
            h2 {
                font-family: $font-raleway;
                text-align: center;
                color: $color-moonstone;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    text-align: left;
                }
            }
        }

        .th-divider {
            margin-bottom: 80px;
        }

        &__tabsItem {
            @include flex(center, center, nowrap);
            flex-direction: column;
            margin-top: 60px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                flex-direction: row;
                gap: 40px;
                align-items: stretch;
            }

            a {
                color: $color-moonstone;
                font-weight: 700;
            }
        }

        &__tabsIcons {
            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flexBasis(200px);
                @include flex(center, center, nowrap);
                align-self: flex-start;
            }

            &:has(i ~ i) {
                padding-block: 40px;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    padding-block: 20px;
                }
                
                i {
                    font-size: 100px;

                    &:first-child {
                        transform: translateY(-20px);
                    }

                    &:last-child {
                        transform: translateY(20px);
                    }
                }
            }

            i {
                color: $color-moonstone;

                @include setResponsiveDesign($breakpoint-tablet) {
                    font-size: 160px;
                }
            }

            img {
                pointer-events: none;
            }
        }

        &__tabsText {
            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flexBasis(calc(100% - 200px));
            }
        }

        &__tabsTitle {
            text-align: center;
            margin-bottom: 40px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                text-align: left;
                margin-bottom: 0;
            }

            h3 {
                color: $color-moonstone;
                text-transform: uppercase;
                font-size: 2em;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    font-size: 2.6em;
                }
            }

            &.skills-title {
                @include setResponsiveDesign($breakpoint-tablet) {
                    @include flex(center, center, nowrap);
                    @include flex2;
                    gap: 14px;

                    i {
                        font-size: 160px;
                    }
                }

                i {
                    font-size: 100px;
                    color: $color-moonstone;
                    margin-bottom: 14px;
                }
            }
        }

        &__skillsCharts {
            @include flex(center, stretch);
            flex-direction: column;
            gap: 20px;
            max-width: 540px;
            width: 100%;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: none;
                @include flex2;
            }
        }

        &__skillsChart {
            .skill {
                font-size: 1.2em;
                margin: 0;
            }

            .chart {
                @include flex(flex-start, center, nowrap);
                gap: 20px;
            }

            .bar {
                @include containerFluid;
                height: 4px;
                background-color: $color-white;
                @include relative;

                .progress {
                    @include absolute(50%);
                    transform: translateY(-50%);
                    height: 8px;
                    background-color: $color-moonstone;
                    @include transition;
                    transform-origin: left;

                    // Teste
                    width: 75%;
                }
            }
        }
    }
}