@include theme() {
    &about {
        @include containerFluid;
        @include containerSpacing1;

        &__container {
            @include container;
        }

        &__info {
            @include flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 80px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }

        &__photo {
            width: 100%;
            max-width: 460px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: none;
                @include flex2(20px);
            }
        }

        &__infoText {
            max-width: 600px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: none;
                @include flex2(20px);
            }
        }

        &__infoTitle {
            h2 {
                font-family: $font-raleway;
                text-align: center;
                color: $color-moonstone;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    text-align: left;
                }
            }
        }

        .th-divider {
            margin-bottom: 80px;
        }

        &__skillsItem {
            margin-top: 40px;
            @include flex;
            flex-direction: column;
            gap: 40px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        
        &__skillsTitle {
            text-align: center;
            color: $color-moonstone;
            font-size: 1.8em;
            text-transform: uppercase;

            @include setResponsiveDesign($breakpoint-tablet) {
                @include flex;
                gap: 10px;
            }

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flex2(40px);
                font-size: 2em;
            }

            i {
                font-size: 2.6em;
                margin-bottom: 10px;

                @include setResponsiveDesign($breakpoint-tablet) {
                    font-size: 3.6em;
                    margin-bottom: 0;
                }
            }
        }

        &__skillsCharts {
            @include flex(center, stretch);
            flex-direction: column;
            gap: 20px;
            max-width: 540px;
            width: 100%;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flex2(40px);
                max-width: none;
            }
        }

        &__skillsChart {
            .skill {
                font-size: 1.2em;
                margin: 0;
            }

            .chart {
                @include flex(flex-start, center, nowrap);
                gap: 20px;
            }

            .bar {
                @include containerFluid;
                height: 4px;
                background-color: $color-white;
                @include relative;

                .progress {
                    @include absolute(50%);
                    transform: translateY(-50%);
                    height: 8px;
                    background-color: $color-moonstone;
                    @include transition;
                    transform-origin: left;

                    width: 75%;
                }
            }
        }
    }
}