*, *::before, *::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserPrefix(box-sizing, border-box);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-background-secondary;
    color: $color-text;
    font-family: $font-raleway;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-poppins;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

@include theme() {
    &button {
        background-color: $color-primary;
        display: inline-block;
        border: none;
        padding: 12px 30px;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-family: $font-raleway;
        font-weight: 500;
        color: $color-text;
        @include transition;

        &:hover {
            background-color: $color-text;
            color: $color-background-primary;
        }

        &-outline {
            background-color: transparent;
            border: 1px solid $color-primary;
            color: $color-primary;

            &:hover {
                border-color: $color-text;
            }
        }
    }

    &divider {
        width: 120px;
        height: 5px;
        background-color: $color-primary;
    }
}