*, *::before, *::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserPrefix(box-sizing, border-box);

    scrollbar-width: 4px;
    scrollbar-color: $color-secondary-variant;
}

::-webkit-scrollbar {
    width: 4px;

    &-thumb {
        background-color: $color-secondary-variant;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-background-secondary;
    color: $color-text;
    font-family: $font-raleway;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-poppins;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-background-primary;
    padding: 20px;
    border: 1px solid $color-primary;
    outline: none;
}

@include theme() {
    &section-title {
        text-align: center;
        margin-bottom: 40px;

        @include setResponsiveDesign($breakpoint-large) {
            text-align: start;
        }

        h1 {
            text-transform: uppercase;
            font-size: 2em;
            line-height: 1.2;

            @include setResponsiveDesign($breakpoint-medium) {
                font-size: 2.6em
            }

            @include setResponsiveDesign($breakpoint-large) {
                font-size: 3em;
            }

            span {
                text-transform: none;
                display: block;
                color: $color-primary;
                font-weight: 500;
                font-size: 0.7em;
            }
        }
    }

    &button {
        background-color: $color-primary;
        display: inline-block;
        border: none;
        padding: 12px 30px;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-family: $font-raleway;
        font-weight: 500;
        font-size: 1em;
        color: $color-text;
        @include transition;

        &:hover {
            background-color: $color-text;
            color: $color-background-primary;

            .th-load {
                color: $color-background-primary;
            }
        }

        &-outline {
            background-color: transparent;
            border: 1px solid $color-primary;
            color: $color-primary;

            &:hover {
                border-color: $color-text;
            }
        }
    }

    &divider {
        width: 120px;
        height: 5px;
        background-color: $color-primary;
        margin-inline: auto;

        @include setResponsiveDesign($breakpoint-large) {
            margin: 0;
        }
    }

    &back {
        position: fixed;
        bottom: -30px;
        right: 20px;
        width: 30px;
        height: 30px;
        opacity: 0;
        @include transition;

        &.show {
            bottom: 20px;
            opacity: 1;
        }

        a {
            display: block;
            background-color: $color-background-primary;
            @include containerFluid(true);
            @include flex;
        }
    }

    &modal {
        background-color: $color-background-overlay;
        backdrop-filter: blur(8px);
        padding-block: 40px;
        @include fixedFull(0, 0, true);
        @include indexLevel3;
        overflow: hidden;
        display: none;

        &__container {
            @include container;
            height: 100%;
        }

        &__wrapper {
            height: 100%;      
            overflow-y: auto;
        }

        .close {
            @include absolute(10px, unset);
            right: 10px;
            width: 20px;
            height: 20px;
            @include flex;
            cursor: pointer;
            
            span {
                @include containerFluid;
                height: 3px;
                background-color: $color-text;
                display: block;
                transform: rotate(45deg);

                &::before {
                    content: "";
                    @include absoluteFull(0, 0, true);
                    background-color: $color-text;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &tabs {
        @include flex;
        gap: 10px;

        &-tab {
            flex-grow: 1;
            display: inline-block;
            padding: 5px;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-family: $font-poppins;
            font-weight: 500;
            font-size: 0.9em;
            border: 1px solid $color-primary;
            color: $color-primary;
            @include transition;

            &:hover, &.active {
                background-color: $color-primary;
                color: $color-text;
            }
        }
    }

    &load {
        color: $color-text;
        display: inline-block;
        width: 20px;
        height: 20px;
        @include relative;
        @include transition(color);

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid currentColor;
            border-radius: 50%;
            animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: currentColor transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }

            &:nth-child(2) {
                animation-delay: -0.3s;
            }

            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }

        @keyframes ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}