* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    @include setBrowserCore(box-sizing, border-box);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-raleway;
    font-size: $font-size-default;
    font-weight: 400;
    color: $color-white;
    background-color: $color-gunmetal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-poppins;
    line-height: 1;
}

p {
    margin-block: 18px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    @include setBrowserCore(object-fit, cover, ("o"));
    @include setBrowserCore(object-position, center, ("o"));
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

@include theme() {
    &button {
        @include button;
    }

    &button-outline {
        @include buttonOutline;
    }

    &social {
        @include flex;
        gap: 24px;
        width: auto;
        padding-block: 40px;

        @include setResponsiveDesign($breakpoint-desktop-sd) {
            justify-content: flex-start;
            padding-block: 40px 0;
        }

        @include setResponsiveDesign(300px, true) {
            gap: 12px;
        }

        a {
            @include flex;
            width: 45px;
            height: 45px;
            border: 2px solid $color-moonstone;
            @include rounded;
            font-size: 1.6em;
            color: $color-moonstone;

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                width: 48px;
                height: 48px;
                font-size: 1.8em;
            }

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                width: 54px;
                height: 54px;
                font-size: 2em;
            }
        }
    }

    &divider {
        width: 120px;
        height: 5px;
        background-color: $color-moonstone;
        margin-inline: auto;

        @include setResponsiveDesign($breakpoint-desktop-sd) {
            width: 180px;
            height: 10px;
        }
    }

    &section-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;

        @include setResponsiveDesign($breakpoint-tablet) {
            font-size: 1.6em;
        }

        @include setResponsiveDesign($breakpoint-desktop-sd) {
            font-size: 2em;
            text-align: left;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 0.7em;
            text-transform: none;
            color: $color-moonstone;
            margin-bottom: 8px;
        }
    }

    &tabs {
        @include containerFluid;

        &-buttons {
            @include flex;
            gap: 10px;
        }

        &-button {
            padding: 12px !important;
            flex-grow: 1;
            @include transition;

            &:hover {
                background-color: $color-moonstone !important;
                color: $color-white !important;
                border: 2px solid transparent !important;
            }

            &.selected {
                @include button;
                border: 2px solid transparent;
            }

            &.unselected {
                @include buttonOutline;
            }
        }
    }
}