@include theme() {
    &header {
        @include containerFluid;
        @include fixedFull;

        &__container {
            @include container;
            @include flex(flex-end, center, nowrap);
            height: 60px;
        }

        &__title {
            display: none;
        }

        &__navigation {
            cursor: pointer;
        }

        &__menuIcon {
            .hamb-icon {
                width: 40px;
                height: 3px;
                background-color: $color-white;
                @include relative;
                @include transition;
                @include overModalIndex;

                &::before {
                    content: "";
                    @include absoluteFull(-9px, 0, true);
                    background-color: $color-white;
                    @include transition;
                }

                &::after {
                    content: "";
                    @include absoluteFull(9px, 0, true);
                    background-color: $color-white;
                    @include transition;
                }
            }

            &.active {
                .hamb-icon {
                    background-color: transparent;

                    &::before {
                        transform: translateY(9px) rotate(45deg);
                    }

                    &::after {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }
            }
        }

        &__navOverlay {
            @include fixedFull;
            height: 100vh;
            @include modalIndex;
            @include transition;
            display: none;
        }

        &__menuWrapper {
            @include containerFluid(true);
            max-width: 552px;
            background-color: $color-raisin-black-alpha;
            padding: 20px;
            overflow-x: auto;
            @include relative;
            @include transition;

            transform: translateX(calc(100% + 8px));

            &::before {
                content: "";
                @include absolute(0, -8px);
                width: 8px;
                height: 100%;
                background-color: $color-moonstone;
                transform: inherit;
            }

            &.active {
                transform: none;
            }
        }

        &__menu {
            @include containerFluid(true);

            @include flex(center, stretch, nowrap);
            flex-direction: column;
            font-family: $font-poppins;
        }

        &__menuItem {
            &:not(.cv, .social) {
                text-align: right;
                text-transform: uppercase;
                font-size: 2.4em;
                padding-right: 20px;
                font-weight: 500;
                border-right: 6px solid transparent;
                @include transition;

                &:has(a:hover) {
                    border-color: $color-moonstone
                }

                a {
                    padding-block: 12px;
                    display: inline-block;
                }
            }

            &.cv {
                a {
                    width: 100%;
                    font-size: 1.6em;
                }
            }
        }
    }
}