@include theme() {
    &header {
        @include containerFluid;
        @include fixedFull;
        @include modalIndex;
        @include transition;

        &.scrolling {
            background-color: $color-raisin-black;
            box-shadow: 0 1px 5px rgba($color: #000000, $alpha: 0.2);
        }

        &__container {
            @include container;
            @include flex(flex-end, center, nowrap);
            height: 60px;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                height: auto;
            }
        }

        &__title {
            display: none;
        }

        &__menuIcon {
            height: 21px;
            @include flex;
            cursor: pointer;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                display: none;
            }

            .hamb-icon {
                width: 40px;
                height: 3px;
                background-color: $color-white;
                @include relative;
                @include transition;
                @include overModalIndex;

                &::before {
                    content: "";
                    @include absoluteFull(-9px, 0, true);
                    background-color: $color-white;
                    @include transition;
                }

                &::after {
                    content: "";
                    @include absoluteFull(9px, 0, true);
                    background-color: $color-white;
                    @include transition;
                }
            }

            &.active {
                .hamb-icon {
                    background-color: transparent;

                    &::before {
                        transform: translateY(9px) rotate(45deg);
                    }

                    &::after {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }
            }
        }

        &__navOverlay {
            @include fixedFull;
            height: 100vh;
            @include modalIndex;
            @include transition;
            @include flex(flex-end);
            display: none;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                display: block !important;
                position: static;
                width: auto;
                height: auto;
            }
        }

        &__menuWrapper {
            @include containerFluid(true);
            max-width: 560px;
            background-color: $color-raisin-black-alpha;
            padding: 20px;
            overflow-x: auto;
            @include transition;
            transform: translateX(calc(100% + 8px));

            @include setResponsiveDesign(560px) {
                border-left: 8px solid $color-moonstone;
            }

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                transform: none;
                max-width: none;
                overflow-x: visible;
                border: none;
                padding: 0;
                background: none;
            }

            &.active {
                transform: none;
            }
        }

        &__menu {
            @include containerFluid(true);

            @include flex(center, stretch, nowrap);
            flex-direction: column;
            font-family: $font-poppins;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                flex-direction: row;
                gap: 40px;
                align-items: center;
            }

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                gap: 60px;
            }
        }

        &__menuItem {
            &:not(.cv, .social) {
                text-align: right;
                text-transform: uppercase;
                font-size: 2.4em;
                padding-right: 20px;
                font-weight: 500;
                border-right: 6px solid transparent;
                @include transition;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    padding-right: 0;
                    border: none;
                    font-size: 1em;
                }

                &:has(a:hover) {
                    border-color: $color-moonstone;
                }

                a {
                    padding-block: 12px;
                    display: inline-block;
                    @include transition;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        padding-block: 26px;
                        border-bottom: 4px solid transparent;

                        &:hover {
                            border-color: $color-moonstone;
                        }
                    }
                }
            }

            &.cv {
                a {
                    width: 100%;
                    font-size: 1.6em;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        font-size: 1em;
                    }
                }
            }

            &.social {
                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    display: none;
                }
            }
        }
    }
}