@include theme() {
    &portfolio {
        @include containerFluid;
        @include containerClearance;

        &__container {
            @include container;
        }

        &__text {
            max-width: 600px;
            margin-bottom: 60px;
        }

        &__list {
            margin-top: 40px;
            @include flex(flex-start, stretch);
            gap: 30px;
            @include container(480px, 0);

            @include setResponsiveDesign($breakpoint-medium) {
                max-width: none;
            }
        }

        &__item {
            @include flex1;
            @include relative;
            @include transition;
            border: 1px solid $color-primary;

            @include setResponsiveDesign($breakpoint-medium) {
                @include flex2(30px);
            }

            @include setResponsiveDesign($breakpoint-medium) {
                @include flex3(30px);
            }

            &:nth-child(5), &:nth-child(6) {
                display: none;

                @include setResponsiveDesign($breakpoint-medium) {
                    display: block;
                }
            }

            &:hover {
                .th-portfolio__item-content {
                    opacity: 1;
                    border-color: $color-primary;
                }
            }

            &-image {
                width: 100%;
                height: 100%;
            }

            &-content {
                @include absoluteFull(unset);
                bottom: 0;
                padding: 30px;
                height: 50%;
                @include flex(flex-end, flex-start);
                flex-direction: column;
                color: $color-primary;
                background-image: linear-gradient(#1D293500 0%, $color-secondary 75%);
                opacity: 0;
                @include transition;
                border-bottom: 7px solid transparent;
            }
        }

        &__cta {
            margin-top: 60px;
            @include flex;
            @include container(480px, 0);

            @include setResponsiveDesign($breakpoint-medium) {
                @include container(none, 0);
            }

            .th-button {
                flex-grow: 1;

                @include setResponsiveDesign($breakpoint-medium) {
                    flex-grow: 0;
                }
            }
        }
    }
}