@include theme() {
    &services {
        @include containerFluid;
        @include containerClearance;

        &__container {
            @include container;
        }

        &__text {
            @include container(600px, 0);
            margin-bottom: 60px;
            text-align: center;

            @include setResponsiveDesign($breakpoint-large) {
                margin-inline: 0;
                text-align: start;
            }
        }

        &__list {
            @include flex(flex-start, stretch);
            gap: 30px;
            margin-top: 40px;
            @include container(400px, 0);

            @include setResponsiveDesign($breakpoint-medium) {
                @include container(none, 0);
            }
        }

        &__item {
            @include flex1;
            padding: 20px;
            background-color: $color-background-primary;
            border: 1px solid $color-primary;
            text-align: center;

            @include setResponsiveDesign($breakpoint-medium) {
                @include flex2(30px);
            }

            @include setResponsiveDesign($breakpoint-xx-large) {
                @include flex4(30px);
            }

            &-title {
                @include flex(center, center, nowrap);
                gap: 14px;
                color: $color-primary;
                margin-bottom: 20px;

                i {
                    font-size: 1.4em;

                    @include setResponsiveDesign($breakpoint-xx-large) {
                        font-size: 1.6em;
                    }
                }

                h2 {
                    font-size: 1.2em;

                    @include setResponsiveDesign($breakpoint-xx-large) {
                        font-size: 1.4em;
                    }
                }
            }
        }

        &__cta {
            margin-top: 60px;
            @include flex;
            @include container(400px, 0);

            @include setResponsiveDesign($breakpoint-medium) {
                @include container(none, 0);
            }

            .th-button {
                flex-grow: 1;

                @include setResponsiveDesign($breakpoint-medium) {
                    flex-grow: 0;
                }
            }
        }
    }
}