@include theme() {
    &technologies {
        @include containerFluid;
        padding-block: 20px;
        background-image: $gradient-default-1;

        &__container {
            @include container;
        }

        &__list {
            @include flex(space-between);
        }

        &__item {
            i {
                opacity: 0.16;
                font-size: 30px;
                pointer-events: none;

                @include setResponsiveDesign($breakpoint-tablet) {
                    font-size: 50px;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    font-size: 80px;
                }
            }
        }
    }
}