// THEME
@mixin theme() {
    .th- {
        @content;
    }
}

// CONTAINER
@mixin containerFluid($fillScreen: false) {
    width: 100%;

    @if $fillScreen == true {
        height: 100%;
    }
}

@mixin container($maxWidth: $container-width, $padding: $side-clearance) {
    max-width: $maxWidth;
    padding-inline: $padding;
    margin-inline: auto;
}

// ATTRIBUTES WITH BROWSER PREFIXES
@mixin setBrowserPrefix($attr, $value, $prefixes: $browser-prefixes-default) {    
    @each $prefix in $prefixes {
        -#{$prefix}-#{$attr}: #{$value};
    }

    #{$attr}: #{$value};
}

// BORDER RADIUS
@mixin borderRadius($radius) {
    @include setBrowserPrefix(border-radius, $radius);
}

@mixin rounded() {
    @include borderRadius(50%);
}

// FLEXBOX
@mixin flex($justifyContent: center, $alignItems: center, $flexWrap: wrap) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin flexBasis($basis, $gap: 0) {
    @if $gap !=0 {
        flex-basis: calc($basis - $gap);
    }

    @else {
        flex-basis: $basis;
    }
}

@mixin flex1() {
    @include flexBasis(100%, 0);
}

@mixin flex2($gap: 0) {
    @include flexBasis(calc(100% / 2), calc($gap - ($gap / 2)));
}

@mixin flex3($gap: 0) {
    @include flexBasis(calc(100% / 3), calc($gap - ($gap / 3)));
}

@mixin flex4($gap: 0) {
    @include flexBasis(calc(100% / 4), calc($gap - ($gap / 4)));
}

// Directions
@mixin row() {
    flex-direction: row;
}

@mixin rowReverse() {
    flex-direction: row-reverse;
}

@mixin column() {
    flex-direction: column;
}

@mixin columnReverse() {
    flex-direction: column-reverse;
}

// POSITION
// Relative
@mixin relative() {
    position: relative;
}

// Absolute
@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absoluteFull($top: 0, $left: 0, $fillScreen: false) {
    @include absolute($top, $left);
    @include containerFluid($fillScreen);
}

// Fixed
@mixin fixed($top: 0, $left: 0) {
    position: fixed;
    top: $top;
    left: $left;
}

@mixin fixedFull($top: 0, $left: 0, $fillScreen: false) {
    @include fixed($top, $left);
    @include containerFluid($fillScreen);
}

// Z-index
@mixin indexLevel3() {
    z-index: 110;
}

@mixin indexLevel2() {
    z-index: 100;
}

@mixin indexBase() {
    z-index: 0;
}

@mixin indexOverBase() {
    z-index: 1;
}

// BACKGROUND IMAGE
@mixin backgroundImage($image: "", $repeat: no-repeat, $size: cover, $position: center center) {
    @if $image != "" {
        background-image: url("#{$image-path}/#{$image}");
    }

    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin backgroundOverlay($image: "", $repeat: no-repeat, $size: cover, $position: center center, $opacity: 0.4, $blendMode: multiply) {
    @include relative;

    & > * {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        @include absoluteFull(0, 0, true);
        z-index: 0;
        opacity: $opacity;
        mix-blend-mode: $blendMode;

        @include backgroundImage($image, $repeat, $size, $position);
    }
}

// TRANSITIONS AND ANIMATIONS
@mixin transition($property: all, $duration: $transition-duration-default, $timingFunction: ease, $delay: 0s) {
    transition: $property $duration $timingFunction $delay;
}

// Animation and Keyframes
@mixin animation($name, $setup, $duration: 1s, $iterationCount: infinite, $timingFunction: linear) {
    animation: $name $duration $iterationCount $timingFunction;
    
    @keyframes #{$name} {
        @for $i from 1 through length($list: $setup) {

            $frame: calc((($i * 100%) / (length($list: $setup) - 1)) - (100% / (length($list: $setup) - 1)));
            
            #{$frame} {
                @each $attr, $value in nth($list: $setup, $n: $i) {
                    #{$attr}: #{$value};
                }
            }
        }
    }
}

// RESPONSIVE DESIGN
@mixin setResponsiveDesign($screenWidth, $isMaxWidth: false) {    

    @if $isMaxWidth == true {
        @media screen and (max-width: $screenWidth) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: $screenWidth) {
            @content;
        }
    }
}