// BREAKPOINTS (Based on Bootstrap - https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints)
$breakpoint-extra-small: 375px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1024px;
$breakpoint-xx-large: 1200px;

// COLORS
$color-background-primary: #191919;
$color-background-secondary: #212121;
$color-background-overlay: #1A1A1AB3;

$color-primary: #E39E22;
$color-secondary: #FFC107;
$color-text: #E0E0E0;
$color-text-support: #9E9E9E;
$color-title: #FFF;

$color-gradient-1: linear-gradient($color-background-primary 0%, $color-background-secondary 50%, $color-background-primary 100%);
$color-gradient-2: linear-gradient(rgba($color: $color-background-primary, $alpha: 0), $color-background-primary);
$color-gradient-3: linear-gradient($color-background-primary, rgba($color: $color-background-primary, $alpha: 0));
$color-gradient-4: linear-gradient(rgba($color: $color-background-primary, $alpha: 0), rgba($color: $color-background-primary, $alpha: 0.75), $color-background-primary);

$color-success: #1A6D27;
$color-error: #CE2D2D;

// TIPOGRAPHY
$font-montserrat: "Montserrat", sans-serif;
$font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
$font-size-default: 1rem;

// CONTAINER MAX WIDTH
$container-width: 1300px;
$side-clearance: 20px;
$section-clearance: 80px;
$section-clearance-mobile: 60px;

// TRANSITIONS AND ANIMATIONS
$transition-duration-default: 0.3s;

// BROWSER PREFIXES
$browser-prefixes-default: ("moz", "webkit");

// IMAGES
$image-path: "/assets/images";