// BREAKPOINTS
$breakpoint-extra-small: 375px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1024px;
$breakpoint-xx-large: 1200px;

// COLORS
$color-background-primary: #191919;
$color-background-secondary: #2A2A2A;
$color-background-overlay: #1A1A1AB3;

$color-primary: #E39E22;
$color-secondary: #1D2935;
$color-secondary-variant: #3B4856;
$color-text: #F0FAFF;

$gradient1: linear-gradient($color-background-primary, $color-background-secondary);
$gradient2: linear-gradient($color-background-secondary, $color-background-primary);

// TIPOGRAPHY
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-size-default: 1rem;

// CONTAINER MAX WIDTH
$container-width: 1300px;
$side-clearance: 20px;
$section-clearance: 80px;

// TRANSITIONS AND ANIMATIONS
$transition-duration-default: 0.3s;

// BROWSER PREFIXES
$browser-prefixes-default: ("moz", "webkit");

// IMAGES
$image-path: "../../../assets/images"