// LAYOUT AND BREAKPOINTS
$layout-mobile: 375px;
$layout-desktop: 1440px;

$breakpoint-mobile: 480px;
$breakpoint-mobile-landscape: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop-sd: 1024px;
$breakpoint-desktop-hd1: 1366px;
$breakpoint-desktop-hd2: $layout-desktop;
$breakpoint-desktop-fhd: 1920px;

// COLORS
$color-moonstone: #3AAFC9;
$color-gunmetal: #222A36;
$color-raisin-black: #1C232E;
$color-white: #FFF;

$color-raisin-black-alpha: hsla(217, 24%, 15%, 0.969);
$color-white-alpha: #FFFFFF66;

$gradient-default-1: linear-gradient(to bottom, $color-raisin-black, $color-gunmetal);
$gradient-default-2: linear-gradient(to bottom, $color-gunmetal, $color-raisin-black);
$gradient-portfolio: linear-gradient(to bottom, #1C232E00 0%, #1d242fCC 50%);

// TIPOGRAPHY
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-size-default: 1rem;

// CONTAINER MAX WIDTH
$container-max-width: 1300px;
$container-padding-inline: 20px;
$container-spacing-block: 80px;

// TRANSITIONS AND ANIMATIONS
$transition-duration-default: 0.3s;

// BROWSER CORES
$browser-cores-default: ("moz", "webkit");

// IMAGES
$image-path: "../../../assets/images"