.hero {
    width: 100%;
    background-color: var(--color-background-primary);
    min-height: 100vh;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: var(--color-gradient-2);
    z-index: 1;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    min-height: inherit;
    padding-block: var(--section-clearance);
    padding-inline: 0;
    position: relative;
    z-index: 1;
}

.hero__info {
    width: 100%;
    max-width: 992px;
    padding-inline: var(--side-clearance);
    text-align: center;
}

.hero__subtitle, .hero__heading {
    margin-bottom: 30px;
}

.hero__heading h1 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.2;
}

.hero__heading span {
    display: block;
    font-size: 1.4em;
    font-weight: 800;
    color: var(--color-primary);
}

.hero__tagline {
    margin-bottom: 30px;
    font-family: var(--font-montserrat);
}

.hero__tagline strong {
    color: var(--color-primary);
}

.hero__cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.hero__keywords {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.2;
}

.hero__keywordsList {
    padding-right: 10px;
    column-gap: 10px;
}

.hero__keywordsItem {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-wrap: nowrap;
    border-color: var(--color-text) !important;
    color: var(--color-text) !important;
    text-transform: none;
    font-family: var(--font-plus-jakarta-sans);
    pointer-events: none;
    padding-block: 7px;
    font-weight: 400;
}

@media screen and (min-width: 36em) {
    .hero__heading h1 {
        font-size: 2.2em;
    }

    .hero__tagline {
        font-size: 1.2em;
    }

    .hero__cta {
        align-items: center;
    }
}

@media screen and (min-width: 48em) {
    .hero__cta {
        flex-direction: row;
    }
}

@media screen and (min-width: 62em) {
    .hero__container {
        padding-inline: var(--side-clearance);
        align-items: flex-start;
        row-gap: 60px;
    }

    .hero__info {
        padding-inline: 0;
        text-align: left;
    }

    .hero__heading h1 {
        font-size: 2.6em;
    }

    .hero__cta {
        justify-content: flex-start;
    }

    .hero__keywords {
        max-width: 800px;
        margin-left: auto;
    }
}

@media screen and (max-width: 62em) {
    .hero__cta a {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 36em) {
    .hero__cta a {
        font-size: 1em;
        padding-block: 12px;
    }
}