@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &about {
        @include containerFluid;
        background-image: var.$color-gradient-1;

        &__container {
            @include container;

            @include setResponsiveDesign(var.$breakpoint-large) {
                padding-bottom: 0;
            }
        }

        &__wrapper {
            @include flex;
            gap: 40px 60px;
        }

        &__photo {
            @include flex1;
            max-width: 440px;
            margin-inline: auto;

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex2(60px);
                margin: 0;
            }

            img {
                @include containerFluid;
            }
        }

        &__info {
            @include flex1;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex2(60px);
                text-align: left;
            }

            &-heading {
                margin-bottom: 20px;
                color: var.$color-primary;

                h3 {
                    font-size: 1.2em;

                    @include setResponsiveDesign(var.$breakpoint-small) {
                        font-size: 1.6em;
                    }
                }
            }

            &-text {
                margin-bottom: 20px;
            }
        }

        &__cta {
            .th-button {
                @include containerFluid;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    width: auto;
                }
            }
        }
    }
}