*, *::before, *::after {
    margin: 0;
    padding: 0;
    @include setBrowserPrefix(box-sizing, border-box);

    scrollbar-width: 4px;
    scrollbar-color: $color-primary;
}

::-webkit-scrollbar {
    width: 4px;

    &-thumb {
        background-color: $color-primary;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-background-secondary;
    color: $color-text;
    font-family: $font-plus-jakarta-sans;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-montserrat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-background-primary;
    padding: 20px;
    border: 1px solid $color-primary;
    outline: none;
}

@include theme() {
    &section-title {
        text-align: center;
        margin-bottom: 40px;

        @include setResponsiveDesign($breakpoint-large) {
            text-align: start;
        }

        h2 {
            text-transform: uppercase;
            font-size: 2em;
            line-height: 1.2;

            @include setResponsiveDesign($breakpoint-medium) {
                font-size: 2.6em
            }

            @include setResponsiveDesign($breakpoint-large) {
                font-size: 3em;
            }

            span {
                text-transform: none;
                display: block;
                color: $color-primary;
                font-weight: 500;
                font-size: 0.7em;
            }
        }
    }

    &button {
        background-color: $color-primary;
        display: inline-block;
        border: none;
        padding: 12px 30px;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 1em;
        color: $color-text;
        @include transition;

        &:hover {
            background-color: $color-text;
            color: $color-background-primary;

            .th-load {
                color: $color-background-primary;
            }
        }

        &.outline {
            background-color: transparent;
            border: 1px solid $color-primary;
            color: $color-primary;

            &:hover {
                border-color: $color-text;
                background-color: $color-text;
                color: $color-background-primary;
            }
        }

        &.large {
            font-size: 1.4em;
            padding-block: 18px;
        }
    }

    &back {
        position: fixed;
        bottom: -30px;
        right: 20px;
        width: 30px;
        height: 30px;
        opacity: 0;
        @include transition;

        &.show {
            bottom: 20px;
            opacity: 1;
        }

        a {
            display: block;
            background-color: $color-background-primary;
            @include containerFluid(true);
            @include flex;
        }
    }

    &modal {
        background-color: $color-background-overlay;
        backdrop-filter: blur(8px);
        padding-block: 40px;
        @include fixedFull(0, 0, true);
        @include indexLevel3;
        overflow: hidden;
        display: none;

        &__container {
            @include container;
            height: 100%;
        }

        &__wrapper {
            height: 100%;      
            overflow-y: auto;
        }
    }

    &load {
        $ringsQt: 3;
        color: $color-text;
        display: inline-block;
        width: 20px;
        height: 20px;
        @include relative;
        @include transition(color);

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid currentColor;
            border-radius: 50%;
            border-color: currentColor transparent transparent transparent;

            @include animation(ring, (
                (transform: rotate(0deg)),
                (transform: rotate(360deg))
            ), 1s, infinite, cubic-bezier(0.5, 0, 0.5, 1));

            @for $i from 1 through $ringsQt {
                &:nth-child(#{$i}) {
                    animation-delay: calc(-0.15s * $i);
                }
            }
        }
    }

    &carousel {
        @include containerFluid;
        @include flex(flex-start, stretch, nowrap);
        overflow: hidden;

        &-group {
            @include flex(flex-start, stretch, nowrap);
        }

        &.infinite {
            .left {
                @include animation(spin_to_left, (
                    (transform: translateX(0)),
                    (transform: translateX(-100%))
                ))
            }

            .right {
                @include animation(spin_to_right, (
                    (transform: translateX(-100%)),
                    (transform: translateX(0))
                ))
            }
        }
    }
}