@use "../variables" as var;
@use "../mixins" as *;

*, *::before, *::after {
    @include setBrowserPrefix(box-sizing, border-box);
    margin: 0;
    padding: 0;

    scrollbar-width: 4px;
    scrollbar-color: var.$color-primary;
}

::-webkit-scrollbar {
    width: 3px;

    &-thumb {
        background-color: var.$color-primary;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var.$color-background-secondary;
    color: var.$color-text;
    font-family: var.$font-plus-jakarta-sans;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var.$font-montserrat;
    color: var.$color-title;
    font-weight: 600;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    @include setBrowserPrefix(object-fit, cover, "o");
    @include setBrowserPrefix(object-position, center, "o");
    display: block;
    width: auto;
    max-width: 100%;
}

form {
    @include flex(flex-start);
    gap: 20px;

    * {
        @include flex1;

        &.th-half-field {
            @include setResponsiveDesign(var.$breakpoint-medium) {
                @include flex2(20px);
            }
        }
    }

    button, input[type="submit"] {
        @include setResponsiveDesign(var.$breakpoint-small) {
            flex-basis: unset;
            margin-inline: auto;
        }

        @include setResponsiveDesign(var.$breakpoint-large) {
            margin: 0;
        }
    }
}

label {
    cursor: pointer;
    font-size: 0.8em;
}

input, textarea, select, ::picker(select) {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var.$color-background-primary;
    padding: 12px;
    border: 1px solid var.$color-primary;
    border-radius: 0;
    outline: none;
    resize: none;

    &.th-secondary-background {
        background-color: var.$color-background-secondary;
    }
}

select, ::picker(select) {
    cursor: pointer;
    appearance: base-select;
}

::picker(select) {
    padding: 0;
    margin-block: 5px;
}

select::picker-icon {
    @include transition;
    color: var.$color-primary;
}

select:open::picker-icon {
    transform: rotate(180deg);
}

option {
    padding: 12px;

    &::checkmark {
        display: none;
    }
}

picture {
    display: flex;
}

@include theme() {
    &heading {
        @include flex;
        @include column;
        row-gap: 10px;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 40px;
        line-height: 1em;
        // max-width: 700px;

        @include setResponsiveDesign(var.$breakpoint-large) {
            text-align: start;
            align-items: flex-start;
            margin-inline: 0;
        }

        h2 {
            // text-transform: uppercase;
            // letter-spacing: 2px;
            font-size: 2em;
            line-height: 1.2;

            @include setResponsiveDesign(var.$breakpoint-medium) {
                font-size: 2.4em
            }
        }

        p {
            text-transform: none;
            display: block;
            color: var.$color-primary;
            font-weight: 500;
            font-size: 1.2em;
        }
    }

    &tagline {
        max-width: 600px;
        margin-inline: auto;
        text-align: center;
        margin-bottom: 60px;

        @include setResponsiveDesign(var.$breakpoint-small) {
            font-size: 1.2em;
        }

        @include setResponsiveDesign(var.$breakpoint-large) {
            margin-inline: 0;
            text-align: left;
            // font-size: 1.4em;
        }
    }

    &emphasis {
        color: var.$color-primary;
    }

    &button {
        @include transition;
        background-color: var.$color-secondary;
        display: inline-block;
        border: none;
        padding: 12px 30px;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-family: var.$font-montserrat;
        font-weight: 600;
        font-size: 1em;
        color: var.$color-background-primary;

        &:hover {
            background-color: var.$color-text;

            .th-load {
                color: var.$color-background-primary;
            }
        }

        &.outline {
            background-color: transparent;
            border: 1px solid var.$color-primary;
            color: var.$color-primary;

            &:hover {
                border-color: var.$color-text !important;
                background-color: var.$color-text !important;
                color: var.$color-background-primary !important;
            }
        }

        &.large {
            font-size: 1.4em;
            padding-block: 18px;
        }

        &.secondary {
            &.outline {
                border-color: var.$color-text-support;
                color: var.$color-text;
                font-weight: 400;
            }
        }

        &.clear {
            padding: 0;
            background-color: transparent;
            color: var.$color-secondary;

            &:hover {
                color: var.$color-text !important;
            }
        }
    }

    &modal {
        @include fixedFull(0, 0, true);
        @include indexLevel3;
        @include flex;
        background-color: var.$color-background-overlay;
        backdrop-filter: blur(8px);
        padding: 20px;
        display: none;

        @include setResponsiveDesign(var.$breakpoint-large) {
            padding-block: 40px;
        }

        &__container {
            @include containerFluid;
            @include flex;
            padding: 0 !important;
            height: auto;
            max-height: calc(100vh - 40px);
            @include container;

            @include setResponsiveDesign(var.$breakpoint-large) {
                max-height: calc(100vh - 80px);
            }
        }

        &__wrapper {
            height: auto;
            max-height: calc(100vh - 40px);
            overflow-y: auto;

            @include setResponsiveDesign(var.$breakpoint-large) {
                max-height: calc(100vh - 80px);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var.$color-background-secondary;
            }
        }

        .th-heading h2 {
            font-size: 1.4em;
            color: var.$color-primary;

            @include setResponsiveDesign(var.$breakpoint-large) {
                font-size: 2.2em;
            }
        }
    }

    &load {
        @include relative;
        @include transition(color);
        $ringsQt: 3;
        color: var.$color-text;
        display: inline-block;
        width: 20px;
        height: 20px;

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid currentColor;
            border-radius: 50%;
            border-color: currentColor transparent transparent transparent;

            @include animation(ring, (
                (transform: rotate(0deg)),
                (transform: rotate(360deg))
            ), 1s, infinite, cubic-bezier(0.5, 0, 0.5, 1));

            @for $i from 1 through $ringsQt {
                &:nth-child(#{$i}) {
                    animation-delay: calc(-0.15s * $i);
                }
            }
        }
    }

    &carousel {
        @include containerFluid;
        @include flex(flex-start, stretch, nowrap);
        overflow: hidden;

        &-group {
            @include flex(flex-start, stretch, nowrap);
        }

        &.infinite {
            .left {
                @include animation(spin_to_left, ((transform: translateX(0)),
                    (transform: translateX(-100%))))
            }

            .right {
                @include animation(spin_to_right, ((transform: translateX(-100%)),
                    (transform: translateX(0))))
            }
        }
    }

    &card {
        padding: 20px;
        border: 1px solid var.$color-primary;

        &-heading {
            @include flex(flex-start, center, nowrap);
            column-gap: 20px;
            margin-bottom: 20px;
            color: var.$color-primary;

            i {
                font-size: 1.8em;
                color: var.$color-secondary;
            }

            img {
                width: 2.2em;
            }

            h2, h3, h4, h5, h6 {
                font-size: 1.3em;
                font-weight: 600;
            }
        }
    }

    &text-wrapper {
        p, li {
            line-height: 1.3;
            font-weight: 300;
        }

        p, ul, ol, li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        strong {
            font-weight: 700;
        }

        a {
            color: var.$color-primary;

            &:not(:has(i)):hover {
                text-decoration: underline;
            }
        }
    }

    &form-row {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        label {
            color: var.$color-secondary;
            font-weight: 600;
        }
    }

    &social-icon {
        @include flex;
        @include rounded;
        width: 40px;
        height: 40px;
        border: 1px solid var.$color-text;
        font-size: 1.2em;
    }

    &company-name {
        text-transform: uppercase;
        color: var.$color-primary;
        letter-spacing: 0.2em;
        font-size: 1em;
        font-family: var.$font-plus-jakarta-sans;
        font-weight: 400;

        @include setResponsiveDesign(var.$breakpoint-small) {
            font-size: 1.4em;
        }
    }
}