@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &contact {
        @include containerFluid;

        &__container {
            @include flex(flex-start, stretch);
            gap: 40px;
            @include container(600px);

            @include setResponsiveDesign(var.$breakpoint-large) {
                max-width: var.$container-width;
            }
        }

        &__wrapper {
            @include flex1;

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex2(40px);
            }

            form {
                .th-button {
                    @include setResponsiveDesign(var.$breakpoint-small, true) {
                        font-size: 0.8em;
                    }
                }
            }
        }

        .th-tagline {
            margin-bottom: 40px;
        }

        &__channels {
            &-item {
                color: var.$color-primary;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                a, p {
                    @include transition;
                    display: inline-flex;
                    align-items: center;
                    gap: 12px;

                    @include setResponsiveDesign(var.$breakpoint-large) {
                        opacity: 0.6;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    .th-social-icon {
                        flex-basis: 40px;
                        border-color: var.$color-primary;
                    }
                }

                a {
                    .th-contact__channels-text {
                        flex-basis: calc(100% - 40px - 12px);
                    }
                }

                p {
                    @include setResponsiveDesign(var.$breakpoint-large) {
                        opacity: 1;
                    }

                    .th-social-icon {
                        border: none;

                        @include setResponsiveDesign(var.$breakpoint-large) {
                            transform: rotate(270deg);
                        }
                    }
                }

                i {
                    color: var.$color-secondary
                }
            }
        }
    }
}