@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &footer {
        @include containerFluid;
        background-color: var.$color-background-primary;

        &__container {
            @include flex(space-between);
            gap: 30px;
            padding-block: 20px !important;
            @include container;
        }

        &__logo {
            @include flex1;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-small) {
                flex-basis: unset;
                text-align: left;
                justify-content: flex-start;
            }

            a {
                @include setResponsiveDesign(var.$breakpoint-small) {
                    @include flex;
                    gap: 20px;
                }
            }

            img {
                width: 50px;
                margin-inline: auto;
                margin-bottom: 20px;
                cursor: pointer;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    margin: 0;
                }
            }

            .th-brand {
                letter-spacing: unset;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    font-size: 1em;
                }
            }
        }

        &__copyright {
            @include flex1;
            @include flex;
            @include column;
            text-align: center;
            color: var.$color-text-support;

            @include setResponsiveDesign(var.$breakpoint-small) {
                flex-basis: unset;
                align-items: flex-end;
                text-align: right;
            }

            &-text {
                font-size: 0.7em;
                font-weight: 300;
            }
        }

        &__link {
            margin-top: 10px;
            font-size: 0.8em;
            font-weight: 700;
            @include transition;

            &:hover {
                color: var.$color-primary;
            }
        }
    }
}