@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &footer {
        @include containerFluid;
        background-color: var.$color-background-primary;
        
        &__container {
            @include flex(space-between, flex-start);
            gap: 30px;
            padding-block: 60px 20px !important;
            @include container;

            @include setResponsiveDesign(var.$breakpoint-large) {
                padding-bottom: 40px !important;
            }
        }

        &__logo {
            @include flex1;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-small) {
                flex-basis: unset;
                text-align: left;
                justify-content: flex-start;
            }

            img {
                width: 80px;
                margin-inline: auto;
                margin-bottom: 20px;
                cursor: pointer;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    margin-inline: 0;
                }
            }

            &-heading {
                margin-bottom: 20px;
                cursor: pointer;
            }
        }

        &__social {
            @include flex;
            gap: 30px;

            @include setResponsiveDesign(var.$breakpoint-small) {
                justify-content: flex-start;
            }
        }

        &__navigation {
            @include flex1;

            @include setResponsiveDesign(var.$breakpoint-small) {
                flex-basis: unset;
            }
            
            &-list {
                @include flex;
                @include column;
                row-gap: 20px;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    align-items: flex-end;
                }

                @include setResponsiveDesign(var.$breakpoint-large) {
                    align-items: center;
                }
            }

            &-item {
                a {
                    @include transition;
                    // font-size: 1.2em;
                    color: var.$color-text;
                    font-weight: 500;

                    &:hover {
                        color: var.$color-secondary;
                    }
                }
            }
        }

        &__policy {
            margin-bottom: 30px;

            @include setResponsiveDesign(var.$breakpoint-small) {
                text-align: right;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                margin-bottom: 20px;
            }

            a {
                @include transition;
                // font-size: 1.2em;
                color: var.$color-text;
                font-weight: 500;

                &:hover {
                    color: var.$color-secondary;
                }
            }
        }

        &__copyright {
            @include flex1;
            text-align: center;
            color: var.$color-text-support;

            @include setResponsiveDesign(var.$breakpoint-large) {
                flex-basis: unset;
                align-self: flex-end;
            }

            &-year {
                font-size: 0.7em;
                font-weight: 300;
            }
        }
    }
}