@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &footer {
        @include containerFluid;
        background-color: var.$color-background-primary;
        
        &__container {
            @include flex(space-between, flex-start);
            gap: 30px;
            padding-block: 60px 20px !important;
            @include container;

            @include setResponsiveDesign(var.$breakpoint-large) {
                padding-bottom: 40px !important;
            }
        }

        &__logo {
            @include flex1;
            @include flex;
            gap: 20px;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-small) {
                flex-basis: unset;
                text-align: left;
                justify-content: flex-start;
            }

            img {
                width: 50px;
                margin-inline: auto;
                margin-bottom: 20px;
                cursor: pointer;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    margin-inline: 0;
                }
            }

            &-heading {
                margin-bottom: 20px;
                cursor: pointer;
            }

            .th-brand {
                letter-spacing: unset;
            }
        }

        &__copyright {
            @include flex1;
            text-align: center;
            color: var.$color-text-support;

            @include setResponsiveDesign(var.$breakpoint-large) {
                flex-basis: unset;
                align-self: flex-end;
                text-align: right;
            }

            &-text {
                font-size: 0.7em;
                font-weight: 300;
            }
        }

        &__link {
            margin-top: 12px;
            font-size: 0.8em;
            font-weight: 700;
            @include transition;

            &:hover {
                color: var.$color-primary;
            }
        }
    }
}