@include theme() {
    &header {
        @include fixedFull;
        @include transition;
        @include indexLevel2;
        background-image: $color-gradient-3;

        &.scrolling {
            background-color: $color-background-primary;

            .th-header {
                &__navigation {
                    padding-block: 8px;
                }

                &__menu-item {
                    a {
                        @include setResponsiveDesign($breakpoint-large) {
                            padding-block: 8px;
                        }
                    }
                }
            }
        }

        &__container {
            @include container;
            @include flex(space-between, center, nowrap);
            padding-block: 0 !important;
        }

        &__logo {
            cursor: pointer;

            h1 {
                display: none;
            }

            img {
                width: 36px;
            }
        }

        &__navigation {
            padding-block: 20px;
            @include transition;

            @include setResponsiveDesign($breakpoint-large) {
                padding: 0 !important;
            }

            &.menu-open {
                .th-header {
                    &__icon {
                        &-bar {
                            background-color: transparent;

                            &::before {
                                bottom: 0;
                                transform: rotate(-45deg);
                            }

                            &::after {
                                top: 0;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    &__menu-container {
                        transform: none;
                    }
                }
            }
        }

        &__icon {
            cursor: pointer;
            height: 36px;
            @include flex;
            @include relative;
            @include indexLevel3;

            @include setResponsiveDesign($breakpoint-large) {
                display: none;
            }

            &-bar {
                display: block;
                width: 40px;
                height: 3px;
                background-color: $color-primary;
                @include relative;
                @include transition;

                &::before, &::after {
                    content: "";
                    background-color: $color-primary;
                    @include absoluteFull(unset, 0, true);
                    @include transition;
                }

                &::before {
                    bottom: 9px;
                }

                &::after {
                    top: 9px;
                }
            }
        }

        &__overlay {
            @include fixedFull(0, 0, true);
            @include indexLevel2;
            @include flex(flex-end);
            overflow: hidden;
            display: none;

            @include setResponsiveDesign($breakpoint-large) {
                position: static;
                width: auto;
                height: auto;
                overflow: visible;
                justify-content: center;
                display: flex !important;
            }
        }

        &__menu {
            &-container {
                @include containerFluid(true);
                @include setBrowserPrefix(backdrop-filter, blur(8px), "webkit");
                @include transition;
                max-width: $breakpoint-small;
                padding: 120px 20px 20px 20px;
                border-left: 8px solid $color-primary;
                background-color: $color-background-overlay;
                transform: translateX(100%);

                @include setResponsiveDesign($breakpoint-large) {
                    width: auto;
                    height: auto;
                    backdrop-filter: unset;
                    max-width: none;
                    padding: 0;
                    border: none;
                    background: none;
                    transform: none !important;
                }
            }

            &-wrapper {
                @include containerFluid(true);
                overflow-y: auto;

                @include setResponsiveDesign($breakpoint-large) {
                    width: auto;
                    height: auto;
                    overflow-y: visible;
                }
            }

            &-list {
                @include flex(flex-start, stretch, nowrap);
                @include column;

                @include setResponsiveDesign($breakpoint-large) {
                    @include row;
                    align-items: center;
                    column-gap: 24px;
                }

                @include setResponsiveDesign($breakpoint-xx-large) {
                    column-gap: 40px;
                }
            }

            &-item {
                text-align: right;

                @include setResponsiveDesign($breakpoint-large) {
                    text-align: left;
                }

                a {
                    display: inline-block;
                    padding: 20px 25px 20px 0;
                    font-size: 1.6em;
                    font-weight: 500;
                    font-family: $font-montserrat;
                    text-transform: uppercase;
                    border-right: 6px solid transparent;
                    @include transition;

                    @include setResponsiveDesign($breakpoint-large) {
                        padding: 20px 0;
                        font-size: 1em;
                        border-right: none;
                        border-bottom: 6px solid transparent;
                    }

                    &:hover {
                        border-color: $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }

        &__social {
            @include flex(center, center, nowrap);
            margin-top: 60px;
            gap: 20px;

            @include setResponsiveDesign($breakpoint-large) {
                display: none;
            }

            &-item {
                a {
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $color-primary;
                    font-size: 1.2em;
                    color: $color-primary;
                    @include flex;
                    @include rounded;
                }
            }
        }
    }
}