@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &hero {
        @include containerFluid;
        // background-image: var.$color-gradient-1;
        background-color: var.$color-background-primary;
        height: 900px;
        @include backgroundOverlay("hero_background_mobile.jpg");

        @include setResponsiveDesign(var.$breakpoint-small) {
            @include backgroundOverlay("hero_background_tablet.jpg");
        }

        @include setResponsiveDesign(var.$breakpoint-large) {
            @include backgroundOverlay("hero_background_desktop.jpg");
        }

        &::after {
            @include absoluteFull(unset);
            content: "";
            bottom: 0;
            height: 300px;
            background-image: var.$color-gradient-2;
            z-index: 1;
        }

        &__container {
            @include flex(center, center, nowrap);
            @include column;
            row-gap: 60px;
            height: 100%;

            @include setResponsiveDesign(var.$breakpoint-large) {
                align-items: flex-start;
                row-gap: 80px;
                @include container;
            }
        }

        &__info {
            @include containerFluid;
            max-width: 900px;
            padding-inline: var.$side-clearance;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-large) {
                text-align: left;
            }
        }

        &__subtitle {
            margin-bottom: 30px;
        }

        &__heading {
            margin-bottom: 30px;

            h1 {                
                font-size: 1.8em;
                font-weight: 500;
                line-height: 1;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    font-size: 2.4em;
                }

                @include setResponsiveDesign(var.$breakpoint-large) {
                    font-size: 2.6em;
                }

                span {
                    display: block;
                    font-size: 1.4em;
                    font-weight: 800;
                    color: var.$color-primary;
                }
            }
        }

        &__tagline {
            margin-bottom: 30px;
            font-family: var.$font-montserrat;

            @include setResponsiveDesign(var.$breakpoint-small) {
                font-size: 1.2em;
            }

            strong {
                color: var.$color-primary;
            }
        }

        &__cta {
            @include flex(center, stretch, nowrap);
            @include column;
            gap: 20px;

            @include setResponsiveDesign(var.$breakpoint-small) {
                align-items: center;
            }

            @include setResponsiveDesign(var.$breakpoint-medium) {
                @include row;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                justify-content: flex-start;
            }

            .th-button {
                @include setResponsiveDesign(var.$breakpoint-large, true) {
                    font-size: 1.2em;
                }

                @include setResponsiveDesign(var.$breakpoint-small, true) {
                    font-size: 1em;
                    padding-block: 12px;
                }
            }
        }

        &__keywords {
            @include flex(flex-start, stretch, nowrap);
            @include column;
            @include containerFluid;
            gap: 10px;
            opacity: 0.5;
            max-width: 820px;

            @include setResponsiveDesign(var.$breakpoint-large) {
                margin-left: auto;
            }

            &-list {
                padding-right: 10px;
                column-gap: 10px;
            }

            &-item {
                @include setBrowserPrefix(user-select, none, ("webkit", "moz", "ms"));
                text-wrap: nowrap;
                border-color: var.$color-text !important;
                color: var.$color-text !important;
                text-transform: none;
                font-family: var.$font-plus-jakarta-sans;
                pointer-events: none;
            }
        }
    }
}