@include theme() {
    &portfolio {
        @include containerFluid;

        &__container {
            @include container;
        }

        &__list {
            @include flex(flex-start, stretch);
            gap: 20px;
            max-width: 440px;
            margin-inline: auto;

            @include setResponsiveDesign($breakpoint-small) {
                max-width: none;
            }
        }

        &__project {
            @include flex1;
            @include relative;
            @include transition;
            border: 1px solid $color-primary;
            cursor: pointer;
            background-color: $color-background-primary;

            @include setResponsiveDesign($breakpoint-small) {
                @include flex2(20px);
            }

            @include setResponsiveDesign($breakpoint-large) {
                @include flex4(20px);
            }

            &:hover {
                border-color: $color-secondary;

                img {
                    opacity: 1;
                }

                .th-portfolio__project-info {
                    visibility: visible;
                    opacity: 1;
                    border-color: $color-secondary;
                }
            }

            img {
                @include containerFluid;
                @include transition;
                opacity: 0.5;
            }

            &-info {
                @include absoluteFull(unset);
                @include transition;
                bottom: 0;
                padding: 40px 20px 20px 20px;
                background-image: $color-gradient-4;
                border-bottom: 7px solid $color-primary;

                @include setResponsiveDesign($breakpoint-large) {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &__cta {
            text-align: center;
            margin-top: 60px;

            .th-button {
                @include containerFluid;
                max-width: fit-content;
            }
        }

        &__popup {
            max-width: $breakpoint-small;

            @include setResponsiveDesign($breakpoint-xx-large) {
                max-width: none;
                height: calc(100vh - 80px);
            }

            &-container {
                @include flex;
                gap: 40px 60px;

                @include setResponsiveDesign($breakpoint-xx-large) {
                    height: 100%;
                    align-items: flex-end;
                }
            }

            &-image {
                @include flex1;
                height: 400px;

                @include setResponsiveDesign($breakpoint-medium) {
                    height: 600px;
                }

                @include setResponsiveDesign($breakpoint-xx-large) {
                    @include flex2(60px);
                    height: 100%;
                }

                picture, img {
                    @include containerFluid(true);
                }

                img {
                    border: 2px solid $color-secondary;
                    @include setBrowserPrefix(object-position, top, "o");
                }

                &-desktop {
                    display: none;

                    @include setResponsiveDesign($breakpoint-large) {
                        display: block;
                    }
                }

                &-mobile {
                    margin-bottom: 40px !important;

                    @include setResponsiveDesign($breakpoint-large) {
                        display: none;
                    }
                }
            }

            &-info {
                @include flex1;

                @include setResponsiveDesign($breakpoint-xx-large) {
                    @include flex2(60px);
                }
            }

            &-links {
                margin-top: 40px;
                @include flex;
                gap: 20px;

                @include setResponsiveDesign($breakpoint-large) {
                    justify-content: flex-start;
                }

                li {
                    margin: 0 !important;
                }

                a {
                    border-color: $color-primary;
                    font-size: 1.6em;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}