@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &portfolio {
        @include containerFluid;

        &__container {
            @include container;
        }

        &__list {
            @include flex(flex-start, stretch);
            gap: 20px;
            max-width: 440px;
            margin-inline: auto;

            @include setResponsiveDesign(var.$breakpoint-small) {
                max-width: none;
            }

            &-main {
                .th-portfolio__project {
                    &:last-child {
                        @include setResponsiveDesign(var.$breakpoint-large) {
                            display: none;
                        }
                    }
                }
            }
        }

        &__project {
            @include flex1;
            @include relative;
            @include transition;
            cursor: pointer;
            border: 1px solid var.$color-primary;
            background-color: var.$color-background-primary;
            overflow: hidden;

            @include setResponsiveDesign(var.$breakpoint-small) {
                @include flex2(20px);
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex3(20px);
            }

            &:hover {
                border-color: var.$color-secondary;

                .th-portfolio__project-image {
                    opacity: 1;
                }

                .th-portfolio__project-preview {
                    visibility: visible;
                    opacity: 1;
                }

                .th-portfolio__project-info {
                    visibility: visible;
                    opacity: 1;
                    border-color: var.$color-secondary;
                }
            }

            &-image {
                @include containerFluid;
                @include transition;
                opacity: 0.5;
            }

            &-info {
                @include absoluteFull(unset);
                @include transition;
                bottom: 0;
                padding: 40px 20px 20px 20px;
                background-image: var.$color-gradient-4;
                border-bottom: 7px solid var.$color-primary;

                @include setResponsiveDesign(var.$breakpoint-large) {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &-name {
                margin-bottom: 10px;
                font-size: 1.1em;
            }

            &-type {
                color: var.$color-text-support;
                font-size: 0.9em;
                margin-bottom: 8px;
            }

            &-description {
                margin-bottom: 10px;
            }
        }

        &__cta {
            text-align: center;
            margin-top: 60px;
            @include flex1;

            .th-button {
                @include containerFluid;
                max-width: fit-content;
            }
        }

        &__expanded {
            &-project {
                height: 100%;
                @include flex(flex-start, stretch, nowrap);
                @include column;
                row-gap: 20px;
            }

            &-content {
                flex-grow: 1;
                overflow-y: auto;
                padding-right: 6px;
                height: 100%;
                @include flex(flex-start, stretch, nowrap);
                @include column;

                @include setResponsiveDesign(var.$breakpoint-large) {
                    @include row;
                    overflow: hidden;
                }
            }

            &-image {
                height: 320px;
                border: 1px solid var.$color-primary;
                margin-bottom: 20px;

                @include setResponsiveDesign(var.$breakpoint-small) {
                    height: 480px;
                }

                @include setResponsiveDesign(var.$breakpoint-large) {
                    @include flex2;
                    height: 100%;
                }

                picture, img {
                    @include containerFluid(true);
                }

                img {
                    @include setBrowserPrefix(object-position, top, "o");
                    @include transition(object-position, 4s);

                    &:hover {
                        @include setBrowserPrefix(object-position, bottom, "o");
                    }
                }
            }

            &-info {
                @include setResponsiveDesign(var.$breakpoint-large) {
                    @include flex2;
                    @include flex(flex-end, stretch, nowrap);
                    @include column;
                    row-gap: 40px;
                    padding-left: 40px;
                }
            }

            &-text {
                @include setResponsiveDesign(var.$breakpoint-large) {
                    max-height: 100%;
                    overflow-y: auto;
                }
            }

            &-title {
                margin-bottom: 10px;

                h2 {
                    color: var.$color-primary;
                }
            }

            &-actions {
                font-size: 0.875em;
                @include flex;
                gap: 26px;

                &.outside {
                    @include setResponsiveDesign(var.$breakpoint-large) {
                        display: none;
                    }
                }

                &.inside {
                    display: none;

                    @include setResponsiveDesign(var.$breakpoint-large) {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}