@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &portfolio {
        @include containerFluid;

        &__container {
            @include container;
        }

        &__list {
            @include flex(flex-start, stretch);
            gap: 20px;
            max-width: 440px;
            margin-inline: auto;

            @include setResponsiveDesign(var.$breakpoint-small) {
                max-width: none;
            }

            &-main {
                .th-portfolio__project {
                    &:last-child {
                        @include setResponsiveDesign(var.$breakpoint-large) {
                            display: none;
                        }
                    }
                }
            }
        }

        &__project {
            @include flex1;
            @include relative;
            @include transition;
            cursor: pointer;
            border: 1px solid var.$color-primary;
            background-color: var.$color-background-primary;
            overflow: hidden;

            @include setResponsiveDesign(var.$breakpoint-small) {
                @include flex2(20px);
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex3(20px);
            }

            &:hover {
                border-color: var.$color-secondary;

                .th-portfolio__project-image {
                    opacity: 1;
                }

                .th-portfolio__project-preview {
                    visibility: visible;
                    opacity: 1;
                }

                .th-portfolio__project-info {
                    visibility: visible;
                    opacity: 1;
                    border-color: var.$color-secondary;
                }
            }

            &-image {
                @include containerFluid;
                @include transition;
                opacity: 0.5;
            }

            &-preview {
                @include absoluteFull(0, 0, true);
                @include transition;
                visibility: hidden;
                opacity: 0;

                img {
                    @include containerFluid;
                    @include transition(transform);
                    height: auto;
                    display: block;

                    @include animation(preview_animation, (
                        (transform: translateY(0%)),
                        (transform: translateY(0%)),
                        (transform: translateY(calc(100% - var(--preview-height)))),
                        (transform: translateY(calc(100% - var(--preview-height)))),
                    ), 3s, infinite, linear alternate);
                }
            }

            &-info {
                @include absoluteFull(unset);
                @include transition;
                bottom: 0;
                padding: 40px 20px 20px 20px;
                background-image: var.$color-gradient-4;
                border-bottom: 7px solid var.$color-primary;

                @include setResponsiveDesign(var.$breakpoint-large) {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &-name {
                margin-bottom: 10px;
                font-size: 1.1em;
            }

            &-type {
                color: var.$color-text-support;
                font-size: 0.9em;
                margin-bottom: 8px;
            }

            &-description {
                margin-bottom: 10px;
            }
        }

        &__cta {
            text-align: center;
            margin-top: 60px;

            .th-button {
                @include containerFluid;
                max-width: fit-content;
            }
        }

        &__popup {
            max-width: var.$breakpoint-small;

            @include setResponsiveDesign(var.$breakpoint-xx-large) {
                max-width: none;
                height: calc(100vh - 80px);
            }

            &-container {
                @include flex;
                gap: 40px 60px;

                @include setResponsiveDesign(var.$breakpoint-xx-large) {
                    height: 100%;
                    align-items: flex-end;
                }
            }

            &-image {
                @include flex1;
                height: 400px;

                @include setResponsiveDesign(var.$breakpoint-medium) {
                    height: 600px;
                }

                @include setResponsiveDesign(var.$breakpoint-xx-large) {
                    @include flex2(60px);
                    height: 100%;
                }

                picture, img {
                    @include containerFluid(true);
                }

                img {
                    @include setBrowserPrefix(object-position, top, "o");
                    border: 2px solid var.$color-secondary;
                }

                &-desktop {
                    display: none;

                    @include setResponsiveDesign(var.$breakpoint-large) {
                        display: block;
                    }
                }

                &-mobile {
                    margin-bottom: 40px !important;

                    @include setResponsiveDesign(var.$breakpoint-large) {
                        display: none;
                    }
                }
            }

            &-info {
                @include flex1;

                @include setResponsiveDesign(var.$breakpoint-xx-large) {
                    @include flex2(60px);
                }
            }

            &-links {
                @include flex;
                margin-top: 40px;
                gap: 20px;

                @include setResponsiveDesign(var.$breakpoint-large) {
                    justify-content: flex-start;
                }

                li {
                    margin: 0 !important;
                }

                a {
                    border-color: var.$color-primary;
                    font-size: 1.6em;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}