@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &presentation {
        @include containerFluid;
        background-color: var.$color-background-primary;

        &__container {
            @include flex(center, flex-start);
            column-gap: 30px;
            padding-block: 60px;

            @include setResponsiveDesign(var.$breakpoint-medium) {
                @include container;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                padding-bottom: 0;
            }
        }

        &__trouble {
            @include flex1;
            padding-inline: 20px;

            @include setResponsiveDesign(var.$breakpoint-medium) {
                @include flex2(30px);
                padding-inline: 0;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex3(30px);
            }

            &-list {
                @include flex(center, center, nowrap);
                @include column;
                row-gap: 24px;
                margin-bottom: 30px;
                text-align: center;

                @include setResponsiveDesign(var.$breakpoint-medium) {
                    align-items: flex-end;
                    text-align: right;
                }
            }

            &-item {
                font-size: 1.2em;
                font-weight: 500;

                strong {
                    color: var.$color-primary;
                }
            }
        }

        &__image {
            @include flex1;

            @include setResponsiveDesign(var.$breakpoint-medium) {
                @include flex2(30px);
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex3(30px);
            }
        }

        &__tagline {
            text-align: center;
            padding-inline: 20px;
            margin-top: -60px;
            line-height: 1.6;

            @include setResponsiveDesign(var.$breakpoint-medium) {
                padding-inline: 0;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                @include flex3(30px);
                text-align: left;
                margin-top: 0;
                font-size: 1.2em;
            }

            span {
                color: var.$color-primary;
                font-weight: 700;
            }
        }
    }
}