@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &processes {
        @include containerFluid;
        background-image: var.$color-gradient-1;

        &__container {
            @include container(1080px);
        }

        &__heading {
            margin-bottom: 60px;
            text-align: center;

            h2 {
                color: var.$color-secondary;
            }
        }

        &__list {
            @include flex(flex-start, stretch);
            @include column;
            gap: 20px;
            margin-bottom: 60px;
        }

        &__process {
            max-width: 600px;
            background-color: var.$color-background-secondary;
            box-shadow: 0 0 12px rgba($color: var.$color-background-primary, $alpha: 1.0);

            @include setResponsiveDesign(var.$breakpoint-small) {
                @include flex(flex-start, center, nowrap);
                column-gap: 40px;
            }

            @include setResponsiveDesign(var.$breakpoint-large) {
                max-width: 700px;
            }

            &-right {
                margin-left: auto;
            }

            &-heading, &-text {
                @include setResponsiveDesign(var.$breakpoint-small) {
                    flex-grow: 1;
                    margin: 0;
                }
            }

            &-heading {
                    h3 {
                        @include setResponsiveDesign(var.$breakpoint-large) {
                        font-size: 1.6em;
                    }
                }
            }
        }

        &__cta {
            text-align: center;

            .th-button {
                @include containerFluid;
                max-width: fit-content;
            }
        }
    }
}