@use "../variables" as var;
@use "../mixins" as *;

@include theme() {
    &skills {
        @include containerFluid;
        background-image: var.$color-gradient-1;

        &__container {
            @include container;
        }

        &__wrapper {
            @include flex(flex-start, stretch);
            gap: 20px;
        }

        &__group {
            @include flex1;
            background-color: var.$color-background-primary;
            text-align: center;

            @include setResponsiveDesign(var.$breakpoint-small) {
                @include flex2(20px);
            }

            .th-card-heading {
                justify-content: center;
            }
        }

        &__list {
            @include flex;
            gap: 8px;
            margin-bottom: 20px;
        }
    }
}