// THEME SYLIZING

/* BOOT CONFIG */
@use "boot";

/* HEADER CONFIG */
@use "header";

/* HERO CONFIG */
@use "hero";

/* PRESENTATION SECTION CONFIG */
@use "presentation";

/* SERVICES SECTION CONFIG */
@use "services";

/* PROCESSES SECTION CONFIG */
@use "processes";

/* PORTFOLIO SECTION CONFIG */
@use "portfolio";

/* ABOUT SECTION CONFIG */
@use "about";

/* CONTACT SECTION CONFIG */
@use "contact";

/* FOOTER CONFIG */
@use "footer";