@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* BOOT CONFIG */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scrollbar-width: 4px;
  scrollbar-color: #3B4856;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #3B4856;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2A2A2A;
  color: #F0FAFF;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #191919;
  padding: 20px;
  border: 1px solid #E39E22;
  outline: none;
}

.th-section-title {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .th-section-title {
    text-align: start;
  }
}
.th-section-title h1 {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .th-section-title h1 {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 992px) {
  .th-section-title h1 {
    font-size: 3em;
  }
}
.th-section-title h1 span {
  text-transform: none;
  display: block;
  color: #E39E22;
  font-weight: 500;
  font-size: 0.7em;
}
.th-button {
  background-color: #E39E22;
  display: inline-block;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #F0FAFF;
  transition: all 0.3s ease 0s;
}
.th-button:hover {
  background-color: #F0FAFF;
  color: #191919;
}
.th-button-outline {
  background-color: transparent;
  border: 1px solid #E39E22;
  color: #E39E22;
}
.th-button-outline:hover {
  border-color: #F0FAFF;
}
.th-divider {
  width: 120px;
  height: 5px;
  background-color: #E39E22;
  margin-inline: auto;
}
@media screen and (min-width: 992px) {
  .th-divider {
    margin: 0;
  }
}

/* HEADER CONFIG */
.th-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.th-header.scrolling {
  background-color: #191919;
}
.th-header.scrolling .th-header__navigation {
  padding-block: 12px;
}
@media screen and (min-width: 992px) {
  .th-header.scrolling .th-header__navigation {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .th-header.scrolling .th-header__menu-item:not(.cta) a {
    padding: 20px 0;
  }
}
.th-header__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.th-header__title {
  display: none;
}
.th-header__logo {
  width: 40px;
}
.th-header__navigation {
  padding-block: 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .th-header__navigation {
    padding: 0;
  }
}
.th-header__menu-icon {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .th-header__menu-icon {
    display: none;
  }
}
.th-header__menu-icon .hamb-icon {
  width: 40px;
  height: 3px;
  background-color: #F0FAFF;
  display: block;
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 110;
}
.th-header__menu-icon .hamb-icon::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0FAFF;
  transition: all 0.3s ease 0s;
}
.th-header__menu-icon .hamb-icon::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0FAFF;
  transition: all 0.3s ease 0s;
}
.th-header__menu-icon.active .hamb-icon {
  background-color: transparent;
}
.th-header__menu-icon.active .hamb-icon::before {
  transform: translateY(9px) rotate(45deg);
}
.th-header__menu-icon.active .hamb-icon::after {
  transform: translateY(-9px) rotate(-45deg);
}
.th-header__menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .th-header__menu-overlay {
    display: block;
    position: static;
  }
}
.th-header__menu-container {
  width: 100%;
  max-width: 560px;
  padding: 120px 20px 20px 20px;
  height: 100%;
  border-left: 8px solid #E39E22;
  background-color: rgba(26, 26, 26, 0.7019607843);
  backdrop-filter: blur(8px);
  transform: translateX(100%);
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .th-header__menu-container {
    transform: none;
    width: auto;
    max-width: none;
    padding: 0;
    border: none;
    background: none;
    backdrop-filter: unset;
  }
}
.th-header__menu-container.active {
  transform: none;
}
.th-header__menu-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
@media screen and (min-width: 992px) {
  .th-header__menu-wrapper {
    width: auto;
    overflow-x: visible;
  }
}
.th-header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .th-header__menu-list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .th-header__menu-list {
    column-gap: 40px;
  }
}
.th-header__menu-item:not(.cta) {
  text-align: end;
}
@media screen and (min-width: 992px) {
  .th-header__menu-item:not(.cta) {
    text-align: start;
  }
}
.th-header__menu-item:not(.cta) a {
  display: inline-block;
  padding: 20px 25px 20px 0;
  font-size: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  border-right: 6px solid transparent;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .th-header__menu-item:not(.cta) a {
    padding: 30px 0;
    font-size: 1em;
    border-right-width: 0;
    border-bottom: 6px solid transparent;
  }
}
.th-header__menu-item:not(.cta) a:hover {
  border-color: #E39E22;
  color: #E39E22;
}
.th-header__menu-item.cta {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .th-header__menu-item.cta {
    margin-top: 0;
  }
}
.th-header__menu-item.cta .th-button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .th-header__menu-item.cta .th-button {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  .th-header__menu-item.cta .th-button {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 992px) {
  .th-header__menu-item.cta .th-button {
    font-size: 1em;
  }
}

/* HERO CONFIG */
.th-hero {
  width: 100%;
  height: 660px;
  background-color: #1D2935;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  .th-hero {
    height: 900px;
  }
}
.th-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 50% bottom 70px;
  mix-blend-mode: screen;
}
@media screen and (min-width: 992px) {
  .th-hero::before {
    background-position: right -500px top 50%;
  }
}
.th-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #191919 33%, rgba(25, 25, 25, 0) 100%);
}
@media screen and (min-width: 992px) {
  .th-hero::after {
    background-image: linear-gradient(to right, #191919 40%, rgba(25, 25, 25, 0) 100%);
  }
}
.th-hero__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .th-hero__container {
    row-gap: 20px;
  }
}
@media screen and (min-width: 992px) {
  .th-hero__container {
    text-align: start;
    align-items: flex-start;
  }
}
.th-hero__subtitle {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: #E39E22;
  line-height: 1;
}
@media screen and (min-width: 576px) {
  .th-hero__subtitle {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1200px) {
  .th-hero__subtitle {
    font-size: 2em;
  }
}
.th-hero__title {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  .th-hero__title {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 768px) {
  .th-hero__title {
    font-size: 3em;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .th-hero__title {
    max-width: 1120px;
  }
}
@media screen and (min-width: 1200px) {
  .th-hero__title {
    font-size: 3.6em;
  }
}
.th-hero__headline {
  margin-top: 10px;
  max-width: 480px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 576px) {
  .th-hero__headline {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  .th-hero__headline {
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .th-hero__headline {
    max-width: 730px;
    margin-inline: 0;
  }
}
.th-hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.th-hero__cta .th-button {
  flex-grow: 1;
}
@media screen and (min-width: 576px) {
  .th-hero__cta .th-button {
    flex-grow: 0;
  }
}
@media screen and (min-width: 1200px) {
  .th-hero__cta .th-button {
    padding: 20px 54px;
    font-size: 1.4em;
  }
}

/* TECHNOLOGIES SECTION CONFIG */
.th-technologies {
  width: 100%;
  padding-block: 20px;
  background-image: linear-gradient(#191919, #2A2A2A);
}
@media screen and (min-width: 1200px) {
  .th-technologies {
    padding-block: 40px;
  }
}
.th-technologies__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-technologies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.th-technologies__item i {
  font-size: 30px;
  opacity: 0.16;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .th-technologies__item i {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .th-technologies__item i {
    font-size: 80px;
  }
}

/* SERVICES SECTION CONFIG */
.th-services {
  width: 100%;
  padding-block: 80px;
}
@media screen and (min-width: 576px) {
  .th-services {
    padding-block: 60px;
  }
}
.th-services__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-services__text {
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .th-services__text {
    margin-inline: 0;
    text-align: start;
  }
}
.th-services__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
  max-width: 400px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .th-services__list {
    max-width: none;
    padding-inline: 0;
    margin-inline: auto;
  }
}
.th-services__item {
  flex-basis: 100%;
  padding: 20px;
  background-color: #191919;
  border: 1px solid #E39E22;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .th-services__item {
    flex-basis: calc(50% - 30px);
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .th-services__item {
    flex-basis: calc(25% - 30px);
    flex-grow: 1;
  }
}
.th-services__item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 14px;
  color: #E39E22;
  margin-bottom: 20px;
}
.th-services__item-title i {
  font-size: 1.4em;
}
@media screen and (min-width: 1200px) {
  .th-services__item-title i {
    font-size: 1.6em;
  }
}
.th-services__item-title h2 {
  font-size: 1.2em;
}
@media screen and (min-width: 1200px) {
  .th-services__item-title h2 {
    font-size: 1.4em;
  }
}
.th-services__cta {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .th-services__cta {
    max-width: none;
    padding-inline: 0;
    margin-inline: auto;
  }
}
.th-services__cta .th-button {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .th-services__cta .th-button {
    flex-grow: 0;
  }
}

/* BENEFITS SECTION CONFIG */
.th-benefits {
  width: 100%;
  padding-block: 80px;
  position: relative;
  background-color: #1D2935;
}
@media screen and (min-width: 576px) {
  .th-benefits {
    padding-block: 60px;
  }
}
.th-benefits > * {
  position: relative;
  z-index: 2;
}
.th-benefits::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
  mix-blend-mode: multiply;
  background-image: url("../../../assets/images/benefits-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.th-benefits::before {
  filter: saturate(0);
}
.th-benefits__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-benefits__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
@media screen and (min-width: 576px) {
  .th-benefits__list {
    flex-direction: row;
  }
}
.th-benefits__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  text-transform: uppercase;
}
.th-benefits__item:nth-child(odd) {
  color: #E39E22;
}
.th-benefits__item i {
  font-size: 1.8em;
}
@media screen and (min-width: 992px) {
  .th-benefits__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.th-benefits__text {
  margin-bottom: 40px;
  font-size: 1.4em;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .th-benefits__text {
    margin: 0;
    width: 620px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .th-benefits__text {
    width: 730px;
  }
}
.th-benefits__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.th-benefits__cta a {
  flex-grow: 1;
}
@media screen and (min-width: 576px) {
  .th-benefits__cta a {
    flex-grow: 0;
  }
}

/* PORTFOLIO SECTION CONFIG */
.th-portfolio {
  width: 100%;
  padding-block: 80px;
}
@media screen and (min-width: 576px) {
  .th-portfolio {
    padding-block: 60px;
  }
}
.th-portfolio__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-portfolio__text {
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .th-portfolio__text {
    margin-inline: 0;
    text-align: start;
  }
}
.th-portfolio__list {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 480px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .th-portfolio__list {
    max-width: none;
  }
}
.th-portfolio__item {
  flex-basis: 100%;
  position: relative;
  transition: all 0.3s ease 0s;
  border: 1px solid #E39E22;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .th-portfolio__item {
    flex-basis: calc(50% - 30px);
    flex-grow: 1;
  }
}
@media screen and (min-width: 1024px) {
  .th-portfolio__item {
    flex-basis: calc(33.3333333333% - 30px);
    flex-grow: 1;
  }
}
.th-portfolio__item:nth-child(5), .th-portfolio__item:nth-child(6) {
  display: none;
}
@media screen and (min-width: 768px) {
  .th-portfolio__item:nth-child(5), .th-portfolio__item:nth-child(6) {
    display: block;
  }
}
.th-portfolio__item:hover .th-portfolio__item-content {
  opacity: 1;
  border-color: #E39E22;
}
.th-portfolio__item-image {
  width: 100%;
  height: 100%;
}
.th-portfolio__item-content {
  position: absolute;
  top: unset;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  color: #E39E22;
  background-image: linear-gradient(rgba(29, 41, 53, 0) 0%, #1D2935 75%);
  opacity: 0;
  transition: all 0.3s ease 0s;
  border-bottom: 7px solid transparent;
}
.th-portfolio__cta {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .th-portfolio__cta {
    max-width: none;
    padding-inline: 0;
    margin-inline: auto;
  }
}
.th-portfolio__cta .th-button {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .th-portfolio__cta .th-button {
    flex-grow: 0;
  }
}

/* ABOUT SECTION CONFIG */
.th-about {
  width: 100%;
  padding-block: 80px;
  background-color: #191919;
}
@media screen and (min-width: 576px) {
  .th-about {
    padding-block: 60px;
  }
}
.th-about__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .th-about__content {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 60px;
  }
}
@media screen and (min-width: 992px) {
  .th-about__image {
    flex-basis: calc(50% - 60px);
    flex-grow: 1;
  }
}
@media screen and (min-width: 992px) {
  .th-about__info {
    flex-basis: calc(50% - 60px);
    flex-grow: 1;
  }
}
.th-about__info-title {
  color: #E39E22;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .th-about__info-title {
    text-align: start;
  }
}
.th-about__info-text {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .th-about__info-text {
    text-align: start;
  }
}
.th-about__info-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  .th-about__info-cta {
    justify-content: flex-start;
  }
}
.th-about__info-cta .th-button {
  flex-grow: 1;
}
@media screen and (min-width: 576px) {
  .th-about__info-cta .th-button {
    flex-grow: 0;
  }
}

/* CONTACT SECTION CONFIG */
.th-contact {
  width: 100%;
  padding-block: 80px;
}
@media screen and (min-width: 576px) {
  .th-contact {
    padding-block: 60px;
  }
}
.th-contact__container {
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
.th-contact__text {
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .th-contact__text {
    margin-inline: 0;
    text-align: start;
  }
}
.th-contact__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 40px;
  max-width: 600px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 992px) {
  .th-contact__content {
    max-width: none;
    flex-direction: row-reverse;
  }
}
.th-contact__form {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .th-contact__form {
    width: auto;
    flex-basis: 50%;
  }
}
.th-contact__form form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .th-contact__form form .th-button {
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .th-contact__form form .th-button {
    align-self: flex-start;
  }
}
.th-contact__social-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.th-contact__social-item:not(:last-child) {
  margin-bottom: 20px;
}
.th-contact__social-item:hover .th-contact__social-icon a {
  border-color: #F0FAFF;
  background-color: #F0FAFF;
}
.th-contact__social-item:hover .th-contact__social-icon a i {
  color: #191919;
}
.th-contact__social-icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #E39E22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .th-contact__social-icon a {
    width: 54px;
    height: 54px;
  }
}
.th-contact__social-icon a i {
  font-size: 1.6em;
  color: #E39E22;
}
@media screen and (min-width: 992px) {
  .th-contact__social-icon a i {
    font-size: 1.8em;
  }
}
.th-contact__social-text {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: #E39E22;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .th-contact__social-text {
    font-size: 1.6em;
  }
}

/* FOOTER CONFIG */