@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 800;
  font-display: swap;
}
/* BOOT CONFIG */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 4px;
  scrollbar-color: #E39E22;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #E39E22;
}

::selection {
  background-color: #E39E22;
  color: #191919;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  color: #E0E0E0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
  padding-right: var(--scrollbar-width);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-weight: 600;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
form * {
  flex-basis: 100%;
}
@media screen and (min-width: 48em) {
  form *.th-half-field {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 36em) {
  form button, form input[type=submit] {
    flex-basis: unset;
    margin-inline: auto;
  }
}
@media screen and (min-width: 62em) {
  form button, form input[type=submit] {
    margin: 0;
  }
}

label {
  cursor: pointer;
  font-size: 0.8em;
}

input, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #191919;
  padding: 12px;
  border: 1px solid #E39E22;
  border-radius: 0;
  outline: none;
  resize: none;
}
input.th-secondary-background, textarea.th-secondary-background {
  background-color: #212121;
}

picture {
  display: flex;
}

i.fa-solid,
i.fa-regular,
i.fa-brands {
  vertical-align: middle;
}

.th-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 40px;
  line-height: 1em;
}
@media screen and (min-width: 62em) {
  .th-heading {
    text-align: start;
    align-items: flex-start;
    margin-inline: 0;
  }
}
.th-heading h2 {
  font-size: 2em;
  line-height: 1.2;
}
@media screen and (min-width: 48em) {
  .th-heading h2 {
    font-size: 2.4em;
  }
}
.th-heading p {
  text-transform: none;
  display: block;
  color: #E39E22;
  font-weight: 500;
  font-size: 1.2em;
}
.th-tagline {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 36em) {
  .th-tagline {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 62em) {
  .th-tagline {
    margin-inline: 0;
    text-align: left;
  }
}
.th-emphasis {
  color: #E39E22;
}
.th-button {
  transition: all 0.3s ease 0s;
  background-color: #FFC107;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #191919;
}
.th-button:hover {
  background-color: #E0E0E0;
}
.th-button:hover .th-load {
  color: #191919;
}
.th-button.outline {
  background-color: transparent;
  border: 1px solid #E39E22;
  color: #E39E22;
}
.th-button.outline:hover {
  border-color: #E0E0E0 !important;
  background-color: #E0E0E0 !important;
  color: #191919 !important;
}
.th-button.large {
  font-size: 1.4em;
  padding-block: 18px;
}
.th-button.secondary.outline {
  border-color: #9E9E9E;
  color: #E0E0E0;
  font-weight: 400;
}
.th-button.clear {
  padding: 0;
  background-color: transparent;
  color: #FFC107;
}
.th-button.clear:hover {
  color: #E0E0E0 !important;
}
.th-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(26, 26, 26, 0.7019607843);
  backdrop-filter: blur(8px);
  padding: 20px;
  height: 100vh;
  transition: all 0.3s ease 0s;
  display: none;
}
@media screen and (min-width: 62em) {
  .th-modal {
    padding-block: 40px;
  }
}
.th-modal__close {
  position: absolute;
  top: 7px;
  left: unset;
  right: 7px;
  font-size: 0.7em;
  color: #E39E22;
  outline: none;
  cursor: pointer;
  z-index: 110;
}
@media screen and (min-width: 64em) {
  .th-modal__close {
    font-size: 1em;
    top: 20px;
    right: 20px;
  }
}
.th-modal__close i {
  pointer-events: none;
}
.th-modal__container {
  width: 100%;
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-modal__container {
    padding-block: 80px;
  }
}
.th-modal__container {
  background-color: #212121;
  height: calc(100vh - 40px);
  border: 2px solid #9E9E9E;
  padding: 20px;
}
@media screen and (min-width: 62em) {
  .th-modal__container {
    height: calc(100vh - 80px);
  }
}
.th-modal__wrapper {
  height: 100%;
  overflow-y: auto;
  padding-right: 6px;
}
.th-modal__wrapper.fixed-height {
  overflow: hidden;
  padding: 0;
}
.th-modal .th-heading h2 {
  font-size: 1.4em;
  color: #E39E22;
}
@media screen and (min-width: 62em) {
  .th-modal .th-heading h2 {
    font-size: 2.2em;
  }
}
.th-load {
  position: relative;
  transition: color 0.3s ease 0s;
  color: #E0E0E0;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.th-load div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  border-color: currentColor transparent transparent transparent;
  animation: ring 1s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.th-load div:nth-child(1) {
  animation-delay: -0.15s;
}
.th-load div:nth-child(2) {
  animation-delay: -0.3s;
}
.th-load div:nth-child(3) {
  animation-delay: -0.45s;
}
.th-carousel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
}
.th-carousel-group {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.th-carousel.infinite .left {
  animation: spin_to_left 1s infinite linear;
}
@keyframes spin_to_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.th-carousel.infinite .right {
  animation: spin_to_right 1s infinite linear;
}
@keyframes spin_to_right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.th-card {
  padding: 20px;
  border: 1px solid #E39E22;
}
.th-card-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
  margin-bottom: 20px;
  color: #E39E22;
}
.th-card-heading i {
  font-size: 1.8em;
  color: #FFC107;
}
.th-card-heading img {
  width: 2.2em;
}
.th-card-heading h2, .th-card-heading h3, .th-card-heading h4, .th-card-heading h5, .th-card-heading h6 {
  font-size: 1.3em;
  font-weight: 600;
}
.th-card-badge {
  display: inline-block;
  padding: 6px 14px;
  font-size: 0.813em;
  font-weight: 500;
  background: #212121;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: default;
}
.th-card-badge:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #E39E22;
}
.th-text-wrapper p, .th-text-wrapper li {
  line-height: 1.3;
  font-weight: 300;
}
.th-text-wrapper p:not(:last-child), .th-text-wrapper ul:not(:last-child), .th-text-wrapper ol:not(:last-child), .th-text-wrapper li:not(:last-child) {
  margin-bottom: 12px;
}
.th-text-wrapper strong {
  font-weight: 700;
}
.th-text-wrapper a {
  color: #E39E22;
}
.th-text-wrapper a:not(:has(i)):hover {
  text-decoration: underline;
}
.th-form-row {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.th-form-row label {
  color: #FFC107;
  font-weight: 600;
}
.th-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #E0E0E0;
  font-size: 1.2em;
}
.th-social-icon span {
  display: none;
}
.th-brand {
  text-transform: uppercase;
  color: #E39E22;
  letter-spacing: 0.2em;
  font-size: 1em;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 36em) {
  .th-brand {
    font-size: 1.4em;
  }
}
.th-dots-pattern {
  overflow: hidden;
  position: relative;
  background-repeat: repeat;
  background-size: 20px;
  background-position: center center;
  background-image: url("/assets/images/patterns/pattern_grid_dots.svg");
}
.th-dots-pattern.th-geometric-pattern::before {
  position: absolute;
  top: 0;
  left: unset;
  width: 100%;
  content: "";
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: repeat;
  background-size: 180px;
  background-position: center right;
  background-image: url("/assets/images/patterns/pattern_geometric_abstract.svg");
  z-index: 0;
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
@media screen and (min-width: 62em) {
  .th-dots-pattern.th-geometric-pattern::before {
    width: 70%;
    -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
}

/* HEADER CONFIG */
.th-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 100;
  background-image: linear-gradient(#191919, rgba(25, 25, 25, 0));
}
.th-header.scrolling {
  background-color: #191919;
}
.th-header.scrolling .th-header__navigation {
  padding-block: 8px;
}
@media screen and (min-width: 62em) {
  .th-header.scrolling .th-header__menu-item a {
    padding-block: 8px;
  }
}
.th-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-block: 0 !important;
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-header__container {
    padding-block: 80px;
  }
}
.th-header__logo img {
  width: 36px;
}
.th-header__navigation {
  transition: all 0.3s ease 0s;
  padding-block: 20px;
}
@media screen and (min-width: 62em) {
  .th-header__navigation {
    padding: 0 !important;
  }
}
.th-header__navigation.menu-open .th-header__icon-bar {
  background-color: transparent;
}
.th-header__navigation.menu-open .th-header__icon-bar::before {
  bottom: 0;
  transform: rotate(-45deg);
}
.th-header__navigation.menu-open .th-header__icon-bar::after {
  top: 0;
  transform: rotate(45deg);
}
.th-header__navigation.menu-open .th-header__menu-container {
  transform: none;
}
.th-header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 110;
  cursor: pointer;
  height: 36px;
}
@media screen and (min-width: 62em) {
  .th-header__icon {
    display: none;
  }
}
.th-header__icon-bar {
  position: relative;
  transition: all 0.3s ease 0s;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #E39E22;
}
.th-header__icon-bar::before, .th-header__icon-bar::after {
  position: absolute;
  top: unset;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  content: "";
  background-color: #E39E22;
}
.th-header__icon-bar::before {
  bottom: 9px;
}
.th-header__icon-bar::after {
  top: 9px;
}
.th-header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(26, 26, 26, 0.7019607843);
}
@media screen and (min-width: 62em) {
  .th-header__overlay {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    justify-content: center;
    display: flex !important;
    backdrop-filter: unset;
  }
}
.th-header__menu-container {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  max-width: 576px;
  padding: 120px 20px 20px 20px;
  border-left: 8px solid #E39E22;
  transform: translateX(100%);
  background-color: #191919;
}
@media screen and (min-width: 62em) {
  .th-header__menu-container {
    width: auto;
    height: auto;
    max-width: none;
    padding: 0;
    border: none;
    background: none;
    transform: none !important;
  }
}
.th-header__menu-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 62em) {
  .th-header__menu-wrapper {
    width: auto;
    height: auto;
    overflow-y: visible;
  }
}
.th-header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media screen and (min-width: 62em) {
  .th-header__menu-list {
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }
}
@media screen and (min-width: 75em) {
  .th-header__menu-list {
    column-gap: 40px;
  }
}
.th-header__menu-item {
  text-align: right;
}
@media screen and (min-width: 62em) {
  .th-header__menu-item {
    text-align: left;
  }
}
@media screen and (min-width: 62em) {
  .th-header__menu-item:last-child {
    display: none;
  }
}
.th-header__menu-item a {
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding: 20px 25px 20px 0;
  font-size: 1.6em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border-right: 6px solid transparent;
}
@media screen and (min-width: 62em) {
  .th-header__menu-item a {
    padding: 20px 0;
    font-size: 1em;
    border-right: none;
    border-bottom: 3px solid transparent;
  }
}
.th-header__menu-item a:hover {
  border-color: #E39E22;
  color: #E39E22;
}
.th-header__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 60px;
  gap: 20px;
}
.th-header__social-item a {
  padding: 0;
  display: flex;
  color: #FFC107;
  border-color: #E39E22;
  border-right-width: 1px;
  font-size: 1.2em;
}

/* HERO CONFIG */
.th-hero {
  width: 100%;
  background-color: #191919;
  min-height: 100vh;
}
.th-hero::after {
  position: absolute;
  top: unset;
  left: 0;
  width: 100%;
  content: "";
  bottom: 0;
  height: 300px;
  background-image: linear-gradient(rgba(25, 25, 25, 0), #191919);
  z-index: 1;
}
.th-hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 50px;
  min-height: inherit;
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-hero__container {
    padding-block: 80px;
  }
}
.th-hero__container {
  padding-block: 80px;
  padding-inline: 0;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 62em) {
  .th-hero__container {
    padding-inline: 20px;
    align-items: flex-start;
    row-gap: 60px;
  }
}
.th-hero__info {
  width: 100%;
  max-width: 992px;
  padding-inline: 20px;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .th-hero__info {
    padding-inline: 0;
    text-align: left;
  }
}
.th-hero__subtitle {
  margin-bottom: 30px;
}
.th-hero__heading {
  margin-bottom: 30px;
}
.th-hero__heading h1 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 36em) {
  .th-hero__heading h1 {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 62em) {
  .th-hero__heading h1 {
    font-size: 2.6em;
  }
}
.th-hero__heading h1 span {
  display: block;
  font-size: 1.4em;
  font-weight: 800;
  color: #E39E22;
}
.th-hero__tagline {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 36em) {
  .th-hero__tagline {
    font-size: 1.2em;
  }
}
.th-hero__tagline strong {
  color: #E39E22;
}
.th-hero__cta {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 36em) {
  .th-hero__cta {
    align-items: center;
  }
}
@media screen and (min-width: 48em) {
  .th-hero__cta {
    flex-direction: row;
  }
}
@media screen and (min-width: 62em) {
  .th-hero__cta {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 62em) {
  .th-hero__cta .th-button {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 36em) {
  .th-hero__cta .th-button {
    font-size: 1em;
    padding-block: 12px;
  }
}
.th-hero__keywords {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  opacity: 0.2;
}
@media screen and (min-width: 62em) {
  .th-hero__keywords {
    max-width: 800px;
    margin-left: auto;
  }
}
.th-hero__keywords-list {
  padding-right: 10px;
  column-gap: 10px;
}
.th-hero__keywords-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-wrap: nowrap;
  border-color: #E0E0E0 !important;
  color: #E0E0E0 !important;
  text-transform: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  pointer-events: none;
  padding-block: 7px;
  font-weight: 400;
}

/* SERVICES SECTION CONFIG */
.th-skills {
  width: 100%;
  background-image: linear-gradient(#191919 0%, #212121 50%, #191919 100%);
}
.th-skills__container {
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-skills__container {
    padding-block: 80px;
  }
}
.th-skills__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.th-skills__group {
  flex-basis: 100%;
  background-color: #191919;
  text-align: center;
}
@media screen and (min-width: 36em) {
  .th-skills__group {
    flex-basis: calc(50% - 10px);
  }
}
.th-skills__group .th-card-heading {
  justify-content: center;
}
.th-skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

/* PROCESSES SECTION CONFIG */
.th-processes {
  width: 100%;
}
.th-processes__container {
  max-width: 1080px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-processes__container {
    padding-block: 80px;
  }
}
.th-processes__heading {
  margin-bottom: 60px;
  text-align: center;
}
.th-processes__heading h2 {
  color: #FFC107;
}
.th-processes__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
.th-processes__process {
  width: 100%;
  max-width: 600px;
  background-color: #212121;
  box-shadow: 0 0 12px #191919;
}
@media screen and (min-width: 36em) {
  .th-processes__process {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 40px;
  }
}
@media screen and (min-width: 62em) {
  .th-processes__process {
    max-width: 800px;
  }
}
.th-processes__process-right {
  margin-left: auto;
}
@media screen and (min-width: 36em) {
  .th-processes__process-heading {
    margin: 0;
    flex-basis: 220px;
  }
}
@media screen and (min-width: 62em) {
  .th-processes__process-heading h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 36em) {
  .th-processes__process-text {
    flex-grow: 1;
    flex-basis: calc(100% - 220px);
  }
}
.th-processes__cta {
  text-align: center;
}
.th-processes__cta .th-button {
  width: 100%;
  max-width: fit-content;
}

/* PORTFOLIO SECTION CONFIG */
.th-portfolio {
  width: 100%;
}
.th-portfolio__container {
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-portfolio__container {
    padding-block: 80px;
  }
}
.th-portfolio__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 440px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-portfolio__list {
    max-width: none;
  }
}
@media screen and (min-width: 62em) {
  .th-portfolio__list-main .th-portfolio__project:last-child {
    display: none;
  }
}
.th-portfolio__project {
  flex-basis: 100%;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid #E39E22;
  background-color: #191919;
  overflow: hidden;
}
@media screen and (min-width: 36em) {
  .th-portfolio__project {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 62em) {
  .th-portfolio__project {
    flex-basis: calc(33.3333333333% - 13.3333333333px);
  }
}
.th-portfolio__project:hover {
  border-color: #FFC107;
}
.th-portfolio__project:hover .th-portfolio__project-image {
  opacity: 1;
}
.th-portfolio__project:hover .th-portfolio__project-preview {
  visibility: visible;
  opacity: 1;
}
.th-portfolio__project:hover .th-portfolio__project-info {
  visibility: visible;
  opacity: 1;
  border-color: #FFC107;
}
.th-portfolio__project-image {
  width: 100%;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}
.th-portfolio__project-info {
  position: absolute;
  top: unset;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  bottom: 0;
  padding: 40px 20px 20px 20px;
  background-image: linear-gradient(rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 0.75) 30%, #191919 100%);
  border-bottom: 7px solid #E39E22;
}
@media screen and (min-width: 62em) {
  .th-portfolio__project-info {
    visibility: hidden;
    opacity: 0;
  }
}
.th-portfolio__project-name {
  margin-bottom: 10px;
  font-size: 1.1em;
}
.th-portfolio__project-type {
  color: #9E9E9E;
  font-size: 0.9em;
  margin-bottom: 8px;
}
.th-portfolio__project-description {
  margin-bottom: 10px;
}
.th-portfolio__cta {
  text-align: center;
  margin-top: 60px;
  flex-basis: 100%;
}
.th-portfolio__cta .th-button {
  width: 100%;
  max-width: fit-content;
}
.th-portfolio__expanded-project {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
.th-portfolio__expanded-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 6px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media screen and (min-width: 62em) {
  .th-portfolio__expanded-content {
    flex-direction: row;
    overflow: hidden;
  }
}
.th-portfolio__expanded-image {
  height: 320px;
  border: 1px solid #E39E22;
  margin-bottom: 20px;
}
@media screen and (min-width: 36em) {
  .th-portfolio__expanded-image {
    height: 480px;
  }
}
@media screen and (min-width: 62em) {
  .th-portfolio__expanded-image {
    flex-basis: 50%;
    height: 100%;
  }
}
.th-portfolio__expanded-image picture, .th-portfolio__expanded-image img {
  width: 100%;
  height: 100%;
}
.th-portfolio__expanded-image img {
  -o-object-position: top;
  object-position: top;
  transition: object-position 4s ease 0s;
}
.th-portfolio__expanded-image img:hover {
  -o-object-position: bottom;
  object-position: bottom;
}
@media screen and (min-width: 62em) {
  .th-portfolio__expanded-info {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 62em) {
  .th-portfolio__expanded-text {
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 80px;
  }
}
.th-portfolio__expanded-title {
  margin-bottom: 10px;
}
.th-portfolio__expanded-title h2 {
  color: #E39E22;
}
.th-portfolio__expanded-stacks {
  color: #9E9E9E;
  font-size: 0.9em;
}
.th-portfolio__expanded-actions {
  font-size: 0.875em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
}
@media screen and (min-width: 62em) {
  .th-portfolio__expanded-actions {
    width: 50%;
    padding: 40px 4px 4px 40px;
    justify-content: flex-start;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;
    background-color: #212121;
  }
}

/* ABOUT SECTION CONFIG */
.th-about {
  width: 100%;
  background-image: linear-gradient(#191919 0%, #212121 50%, #191919 100%);
}
.th-about__container {
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-about__container {
    padding-block: 80px;
  }
}
@media screen and (min-width: 62em) {
  .th-about__container {
    padding-bottom: 0;
  }
}
.th-about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 60px;
}
.th-about__photo {
  flex-basis: 100%;
  max-width: 440px;
  margin-inline: auto;
}
@media screen and (min-width: 62em) {
  .th-about__photo {
    flex-basis: calc(50% - 30px);
    margin: 0;
  }
}
.th-about__photo img {
  width: 100%;
}
.th-about__info {
  flex-basis: 100%;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .th-about__info {
    flex-basis: calc(50% - 30px);
    text-align: left;
    padding-bottom: 40px;
  }
}
.th-about__info-heading {
  margin-bottom: 20px;
  color: #E39E22;
}
.th-about__info-heading h3 {
  font-size: 1.2em;
}
@media screen and (min-width: 36em) {
  .th-about__info-heading h3 {
    font-size: 1.6em;
  }
}
.th-about__info-text {
  margin-bottom: 20px;
}
.th-about__cta {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 48em) {
  .th-about__cta {
    flex-direction: row;
  }
}
@media screen and (min-width: 62em) {
  .th-about__cta {
    justify-content: flex-start;
  }
}
.th-about__cta .th-button {
  width: 100%;
}
@media screen and (min-width: 36em) {
  .th-about__cta .th-button {
    width: auto;
  }
}

/* CONTACT SECTION CONFIG */
.th-contact {
  width: 100%;
}
.th-contact__container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 600px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-contact__container {
    padding-block: 80px;
  }
}
@media screen and (min-width: 62em) {
  .th-contact__container {
    max-width: 1300px;
  }
}
.th-contact__wrapper {
  flex-basis: 100%;
}
@media screen and (min-width: 62em) {
  .th-contact__wrapper {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (max-width: 36em) {
  .th-contact__wrapper form .th-button {
    font-size: 0.8em;
  }
}
.th-contact .th-tagline {
  margin-bottom: 40px;
}
.th-contact__channels-item {
  color: #E39E22;
}
.th-contact__channels-item:not(:last-child) {
  margin-bottom: 20px;
}
.th-contact__channels-item a, .th-contact__channels-item p {
  transition: all 0.3s ease 0s;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 62em) {
  .th-contact__channels-item a, .th-contact__channels-item p {
    opacity: 0.6;
  }
}
.th-contact__channels-item a:hover, .th-contact__channels-item p:hover {
  opacity: 1;
}
.th-contact__channels-item a .th-social-icon, .th-contact__channels-item p .th-social-icon {
  flex-basis: 40px;
  border-color: #E39E22;
}
.th-contact__channels-item a .th-contact__channels-text {
  flex-basis: calc(100% - 40px - 12px);
}
@media screen and (min-width: 62em) {
  .th-contact__channels-item p {
    opacity: 1;
  }
}
.th-contact__channels-item p .th-social-icon {
  border: none;
}
@media screen and (min-width: 62em) {
  .th-contact__channels-item p .th-social-icon {
    transform: rotate(270deg);
  }
}
.th-contact__channels-item i {
  color: #FFC107;
}

/* FOOTER CONFIG */
.th-footer {
  width: 100%;
  background-color: #191919;
}
.th-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-block: 20px !important;
  max-width: 1300px;
  padding-inline: 20px;
  padding-block: 60px;
  margin-inline: auto;
}
@media screen and (min-width: 36em) {
  .th-footer__container {
    padding-block: 80px;
  }
}
.th-footer__logo {
  flex-basis: 100%;
  text-align: center;
}
@media screen and (min-width: 36em) {
  .th-footer__logo {
    flex-basis: unset;
    text-align: left;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 36em) {
  .th-footer__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.th-footer__logo img {
  width: 50px;
  margin-inline: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
@media screen and (min-width: 36em) {
  .th-footer__logo img {
    margin: 0;
  }
}
.th-footer__logo .th-brand {
  letter-spacing: unset;
}
@media screen and (min-width: 36em) {
  .th-footer__logo .th-brand {
    font-size: 1em;
  }
}
.th-footer__copyright {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: #9E9E9E;
}
@media screen and (min-width: 36em) {
  .th-footer__copyright {
    flex-basis: unset;
    align-items: flex-end;
    text-align: right;
  }
}
.th-footer__copyright-text {
  font-size: 0.7em;
  font-weight: 300;
}
.th-footer__link {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.th-footer__link:hover {
  color: #E39E22;
}